<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_eight.numr</key>
	<array>
		<string>eight.dnom</string>
		<string>eight.numr</string>
	</array>
	<key>@MMK_L_eightsuperior</key>
	<array>
		<string>eightsuperior</string>
	</array>
	<key>@MMK_L_five.numr</key>
	<array>
		<string>five.dnom</string>
		<string>five.numr</string>
	</array>
	<key>@MMK_L_fivesuperior</key>
	<array>
		<string>fivesuperior</string>
	</array>
	<key>@MMK_L_four.numr</key>
	<array>
		<string>four.dnom</string>
		<string>four.numr</string>
	</array>
	<key>@MMK_L_foursuperior</key>
	<array>
		<string>foursuperior</string>
	</array>
	<key>@MMK_L_fraction</key>
	<array>
		<string>fraction</string>
	</array>
	<key>@MMK_L_nine.numr</key>
	<array>
		<string>nine.dnom</string>
		<string>nine.numr</string>
	</array>
	<key>@MMK_L_ninesuperior</key>
	<array>
		<string>ninesuperior</string>
	</array>
	<key>@MMK_L_one.numr</key>
	<array>
		<string>one.dnom</string>
		<string>one.numr</string>
	</array>
	<key>@MMK_L_onesuperior</key>
	<array>
		<string>onesuperior</string>
	</array>
	<key>@MMK_L_paren.left</key>
	<array>
		<string>braceleft.full</string>
	</array>
	<key>@MMK_L_seven.numr</key>
	<array>
		<string>seven.dnom</string>
		<string>seven.numr</string>
	</array>
	<key>@MMK_L_sevensuperior</key>
	<array>
		<string>sevensuperior</string>
	</array>
	<key>@MMK_L_six.numr</key>
	<array>
		<string>six.dnom</string>
		<string>six.numr</string>
	</array>
	<key>@MMK_L_sixsuperior</key>
	<array>
		<string>sixsuperior</string>
	</array>
	<key>@MMK_L_three.numr</key>
	<array>
		<string>three.dnom</string>
		<string>three.numr</string>
	</array>
	<key>@MMK_L_threesuperior</key>
	<array>
		<string>threesuperior</string>
	</array>
	<key>@MMK_L_two.numr</key>
	<array>
		<string>two.dnom</string>
		<string>two.numr</string>
	</array>
	<key>@MMK_L_twosuperior</key>
	<array>
		<string>twosuperior</string>
	</array>
	<key>@MMK_L_zero.numr</key>
	<array>
		<string>zero.dnom</string>
		<string>zero.numr</string>
	</array>
	<key>@MMK_L_zerosuperior</key>
	<array>
		<string>zerosuperior</string>
	</array>
	<key>@MMK_R_Paren.right</key>
	<array>
		<string>braceright.full</string>
	</array>
	<key>@MMK_R_eight.numr</key>
	<array>
		<string>eight.dnom</string>
		<string>eight.numr</string>
	</array>
	<key>@MMK_R_eightsuperior</key>
	<array>
		<string>eightsuperior</string>
	</array>
	<key>@MMK_R_five.numr</key>
	<array>
		<string>five.dnom</string>
		<string>five.numr</string>
	</array>
	<key>@MMK_R_fivesuperior</key>
	<array>
		<string>fivesuperior</string>
	</array>
	<key>@MMK_R_four.numr</key>
	<array>
		<string>four.dnom</string>
		<string>four.numr</string>
	</array>
	<key>@MMK_R_foursuperior</key>
	<array>
		<string>foursuperior</string>
	</array>
	<key>@MMK_R_fraction</key>
	<array>
		<string>fraction</string>
	</array>
	<key>@MMK_R_nine.numr</key>
	<array>
		<string>nine.dnom</string>
		<string>nine.numr</string>
	</array>
	<key>@MMK_R_ninesuperior</key>
	<array>
		<string>ninesuperior</string>
	</array>
	<key>@MMK_R_one.numr</key>
	<array>
		<string>one.dnom</string>
		<string>one.numr</string>
	</array>
	<key>@MMK_R_onesuperior</key>
	<array>
		<string>onesuperior</string>
	</array>
	<key>@MMK_R_seven.numr</key>
	<array>
		<string>seven.dnom</string>
		<string>seven.numr</string>
	</array>
	<key>@MMK_R_sevensuperior</key>
	<array>
		<string>sevensuperior</string>
	</array>
	<key>@MMK_R_six.numr</key>
	<array>
		<string>six.dnom</string>
		<string>six.numr</string>
	</array>
	<key>@MMK_R_sixsuperior</key>
	<array>
		<string>sixsuperior</string>
	</array>
	<key>@MMK_R_three.numr</key>
	<array>
		<string>three.dnom</string>
		<string>three.numr</string>
	</array>
	<key>@MMK_R_threesuperior</key>
	<array>
		<string>threesuperior</string>
	</array>
	<key>@MMK_R_two.numr</key>
	<array>
		<string>two.dnom</string>
		<string>two.numr</string>
	</array>
	<key>@MMK_R_twosuperior</key>
	<array>
		<string>twosuperior</string>
	</array>
	<key>@MMK_R_zero.numr</key>
	<array>
		<string>zero.dnom</string>
		<string>zero.numr</string>
	</array>
	<key>@MMK_R_zerosuperior</key>
	<array>
		<string>zerosuperior</string>
	</array>
</dict>
</plist>
