<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7913F07E-4E72-4505-9AE6-577D441B37CA</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.alefdagesh-hb.rvrn</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.finalpedagesh-hb.rvrn</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hedagesh-hb.rvrn</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.pedagesh-hb.rvrn</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.qofdagesh-hb.rvrn</key>
      <integer>8</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.shindageshshindot-hb.rvrn</key>
      <integer>8</integer>
    </dict>
  </dict>
</plist>
