<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>@MMK_L_eight.numr</key>
    <dict>
      <key>@MMK_R_eight.numr</key>
      <integer>3</integer>
      <key>@MMK_R_fraction</key>
      <integer>73</integer>
      <key>@MMK_R_zero.numr</key>
      <integer>3</integer>
    </dict>
    <key>@MMK_L_four.numr</key>
    <dict>
      <key>@MMK_R_four.numr</key>
      <integer>6</integer>
      <key>@MMK_R_fraction</key>
      <integer>87</integer>
      <key>@MMK_R_zero.numr</key>
      <integer>3</integer>
    </dict>
    <key>@MMK_L_fraction</key>
    <dict>
      <key>@MMK_R_nine.numr</key>
      <integer>10</integer>
      <key>@MMK_R_seven.numr</key>
      <integer>56</integer>
      <key>@MMK_R_six.numr</key>
      <integer>-15</integer>
      <key>@MMK_R_three.numr</key>
      <integer>17</integer>
      <key>@MMK_R_two.numr</key>
      <integer>20</integer>
    </dict>
    <key>@MMK_L_nine.numr</key>
    <dict>
      <key>@MMK_R_fraction</key>
      <integer>21</integer>
      <key>@MMK_R_nine.numr</key>
      <integer>3</integer>
      <key>@MMK_R_zero.numr</key>
      <integer>3</integer>
    </dict>
    <key>@MMK_L_one.numr</key>
    <dict>
      <key>@MMK_R_one.numr</key>
      <integer>-71</integer>
      <key>@MMK_R_zero.numr</key>
      <integer>-54</integer>
    </dict>
    <key>@MMK_L_six.numr</key>
    <dict>
      <key>@MMK_R_fraction</key>
      <integer>49</integer>
      <key>@MMK_R_six.numr</key>
      <integer>6</integer>
    </dict>
    <key>@MMK_L_three.numr</key>
    <dict>
      <key>@MMK_R_three.numr</key>
      <integer>3</integer>
      <key>@MMK_R_zero.numr</key>
      <integer>3</integer>
    </dict>
    <key>@MMK_L_two.numr</key>
    <dict>
      <key>@MMK_R_fraction</key>
      <integer>118</integer>
    </dict>
    <key>@MMK_L_zero.numr</key>
    <dict>
      <key>@MMK_R_eight.numr</key>
      <integer>3</integer>
      <key>@MMK_R_fraction</key>
      <integer>52</integer>
      <key>@MMK_R_nine.numr</key>
      <integer>3</integer>
      <key>@MMK_R_six.numr</key>
      <integer>3</integer>
      <key>@MMK_R_zero.numr</key>
      <integer>0</integer>
    </dict>
    <key>Aacute</key>
    <dict>
      <key>Yacute</key>
      <integer>-48</integer>
      <key>Ycircumflex</key>
      <integer>-48</integer>
      <key>Ydieresis</key>
      <integer>-48</integer>
      <key>Ygrave</key>
      <integer>-48</integer>
    </dict>
    <key>Abreve</key>
    <dict>
      <key>Tcommaaccent</key>
      <integer>-18</integer>
      <key>Yacute</key>
      <integer>-48</integer>
      <key>Ycircumflex</key>
      <integer>-48</integer>
      <key>Ydieresis</key>
      <integer>-48</integer>
      <key>Ygrave</key>
      <integer>-48</integer>
    </dict>
    <key>Abreveacute</key>
    <dict>
      <key>Ydotbelow</key>
      <integer>-6</integer>
      <key>Yhookabove</key>
      <integer>-6</integer>
      <key>Ytilde</key>
      <integer>-6</integer>
    </dict>
    <key>Abrevedotbelow</key>
    <dict>
      <key>Ydotbelow</key>
      <integer>-6</integer>
      <key>Yhookabove</key>
      <integer>-6</integer>
      <key>Ytilde</key>
      <integer>-6</integer>
    </dict>
    <key>Abrevegrave</key>
    <dict>
      <key>Ydotbelow</key>
      <integer>-6</integer>
      <key>Yhookabove</key>
      <integer>-6</integer>
      <key>Ytilde</key>
      <integer>-6</integer>
    </dict>
    <key>Abrevehookabove</key>
    <dict>
      <key>Ydotbelow</key>
      <integer>-6</integer>
      <key>Yhookabove</key>
      <integer>-6</integer>
      <key>Ytilde</key>
      <integer>-6</integer>
    </dict>
    <key>Abrevetilde</key>
    <dict>
      <key>Yacute</key>
      <integer>-9</integer>
      <key>Ycircumflex</key>
      <integer>-9</integer>
      <key>Ydieresis</key>
      <integer>-9</integer>
      <key>Ygrave</key>
      <integer>-9</integer>
    </dict>
    <key>Acircumflex</key>
    <dict>
      <key>Yacute</key>
      <integer>-48</integer>
      <key>Ycircumflex</key>
      <integer>-48</integer>
      <key>Ydieresis</key>
      <integer>-48</integer>
      <key>Ygrave</key>
      <integer>-48</integer>
    </dict>
    <key>Acircumflexacute</key>
    <dict>
      <key>Yacute</key>
      <integer>-9</integer>
      <key>Ycircumflex</key>
      <integer>-9</integer>
      <key>Ydieresis</key>
      <integer>-9</integer>
      <key>Ygrave</key>
      <integer>-9</integer>
    </dict>
    <key>Acircumflexdotbelow</key>
    <dict>
      <key>Ydotbelow</key>
      <integer>-6</integer>
      <key>Yhookabove</key>
      <integer>-6</integer>
      <key>Ytilde</key>
      <integer>-6</integer>
    </dict>
    <key>Acircumflexgrave</key>
    <dict>
      <key>Ydotbelow</key>
      <integer>-6</integer>
      <key>Yhookabove</key>
      <integer>-6</integer>
      <key>Ytilde</key>
      <integer>-6</integer>
    </dict>
    <key>Acircumflexhookabove</key>
    <dict>
      <key>Yacute</key>
      <integer>-9</integer>
      <key>Ycircumflex</key>
      <integer>-9</integer>
      <key>Ydieresis</key>
      <integer>-9</integer>
      <key>Ygrave</key>
      <integer>-9</integer>
    </dict>
    <key>Acircumflextilde</key>
    <dict>
      <key>Ydotbelow</key>
      <integer>-6</integer>
      <key>Yhookabove</key>
      <integer>-6</integer>
      <key>Ytilde</key>
      <integer>-6</integer>
    </dict>
    <key>Adieresis</key>
    <dict>
      <key>Jcircumflex</key>
      <integer>16</integer>
      <key>Yacute</key>
      <integer>-48</integer>
      <key>Ycircumflex</key>
      <integer>-48</integer>
      <key>Ydieresis</key>
      <integer>-48</integer>
      <key>Ygrave</key>
      <integer>-48</integer>
    </dict>
    <key>Adotbelow</key>
    <dict>
      <key>Yacute</key>
      <integer>-9</integer>
      <key>Ycircumflex</key>
      <integer>-9</integer>
      <key>Ydieresis</key>
      <integer>-9</integer>
      <key>Ygrave</key>
      <integer>-9</integer>
    </dict>
    <key>Agrave</key>
    <dict>
      <key>Jcircumflex</key>
      <integer>16</integer>
      <key>Yacute</key>
      <integer>-48</integer>
      <key>Ycircumflex</key>
      <integer>-48</integer>
      <key>Ydieresis</key>
      <integer>-48</integer>
      <key>Ygrave</key>
      <integer>-48</integer>
    </dict>
    <key>Ahookabove</key>
    <dict>
      <key>Yacute</key>
      <integer>-9</integer>
      <key>Ycircumflex</key>
      <integer>-9</integer>
      <key>Ydieresis</key>
      <integer>-9</integer>
      <key>Ygrave</key>
      <integer>-9</integer>
    </dict>
    <key>Alpha</key>
    <dict>
      <key>Tcaron</key>
      <integer>-18</integer>
      <key>Tcommaaccent</key>
      <integer>-18</integer>
    </dict>
    <key>Amacron</key>
    <dict>
      <key>Tcommaaccent</key>
      <integer>-18</integer>
      <key>Yacute</key>
      <integer>-48</integer>
      <key>Ycircumflex</key>
      <integer>-48</integer>
      <key>Ydieresis</key>
      <integer>-48</integer>
      <key>Ygrave</key>
      <integer>-48</integer>
    </dict>
    <key>Aogonek</key>
    <dict>
      <key>Tcommaaccent</key>
      <integer>-18</integer>
      <key>Yacute</key>
      <integer>-48</integer>
      <key>Ycircumflex</key>
      <integer>-48</integer>
      <key>Ydieresis</key>
      <integer>-48</integer>
      <key>Ygrave</key>
      <integer>-48</integer>
    </dict>
    <key>Aring</key>
    <dict>
      <key>Jcircumflex</key>
      <integer>16</integer>
      <key>Tcommaaccent</key>
      <integer>-18</integer>
      <key>Yacute</key>
      <integer>-48</integer>
      <key>Ycircumflex</key>
      <integer>-48</integer>
      <key>Ydieresis</key>
      <integer>-48</integer>
      <key>Ygrave</key>
      <integer>-48</integer>
    </dict>
    <key>Aringacute</key>
    <dict>
      <key>Tcommaaccent</key>
      <integer>-18</integer>
      <key>Yacute</key>
      <integer>-48</integer>
      <key>Ycircumflex</key>
      <integer>-48</integer>
      <key>Ydieresis</key>
      <integer>-48</integer>
      <key>Ygrave</key>
      <integer>-48</integer>
    </dict>
    <key>Aringbelow</key>
    <dict>
      <key>Yacute</key>
      <integer>-9</integer>
      <key>Ycircumflex</key>
      <integer>-9</integer>
      <key>Ydieresis</key>
      <integer>-9</integer>
      <key>Ygrave</key>
      <integer>-9</integer>
    </dict>
    <key>Atilde</key>
    <dict>
      <key>Tcommaaccent</key>
      <integer>-18</integer>
      <key>Yacute</key>
      <integer>-48</integer>
      <key>Ycircumflex</key>
      <integer>-48</integer>
      <key>Ydieresis</key>
      <integer>-48</integer>
      <key>Ygrave</key>
      <integer>-48</integer>
    </dict>
    <key>Cacute</key>
    <dict>
      <key>Gdotaccent</key>
      <integer>-10</integer>
    </dict>
    <key>Ccaron</key>
    <dict>
      <key>Gdotaccent</key>
      <integer>-10</integer>
    </dict>
    <key>Ccedilla</key>
    <dict>
      <key>Gdotaccent</key>
      <integer>-10</integer>
    </dict>
    <key>Edieresis-cy</key>
    <dict>
      <key>Tcommaaccent</key>
      <integer>-21</integer>
    </dict>
    <key>Er-cy</key>
    <dict>
      <key>AE</key>
      <integer>-22</integer>
      <key>Abreve</key>
      <integer>-33</integer>
      <key>Adieresis</key>
      <integer>-33</integer>
      <key>Amacron</key>
      <integer>-33</integer>
      <key>Aogonek</key>
      <integer>-33</integer>
      <key>Aring</key>
      <integer>-33</integer>
      <key>Aringacute</key>
      <integer>-33</integer>
    </dict>
    <key>Ghestroke-cy</key>
    <dict>
      <key>Lje-cy</key>
      <integer>-43</integer>
    </dict>
    <key>Gje-cy</key>
    <dict>
      <key>endescender-cy</key>
      <integer>-24</integer>
      <key>shcha-cy</key>
      <integer>-26</integer>
      <key>tse-cy</key>
      <integer>-26</integer>
      <key>ustrait-cy</key>
      <integer>-39</integer>
    </dict>
    <key>Kcommaaccent</key>
    <dict>
      <key>Gdotaccent</key>
      <integer>-10</integer>
      <key>Omicron</key>
      <integer>-10</integer>
    </dict>
    <key>Lacute</key>
    <dict>
      <key>Tcommaaccent</key>
      <integer>-18</integer>
    </dict>
    <key>Lambda</key>
    <dict>
      <key>Tau</key>
      <integer>-38</integer>
      <key>Tcaron</key>
      <integer>0</integer>
      <key>Ycircumflex</key>
      <integer>-48</integer>
      <key>Ydieresis</key>
      <integer>-48</integer>
      <key>Ygrave</key>
      <integer>-48</integer>
    </dict>
    <key>Lcaron</key>
    <dict>
      <key>Tcommaaccent</key>
      <integer>-18</integer>
    </dict>
    <key>Ldot</key>
    <dict>
      <key>Tcommaaccent</key>
      <integer>-18</integer>
    </dict>
    <key>Lje-cy</key>
    <dict>
      <key>Tshe-cy</key>
      <integer>-34</integer>
    </dict>
    <key>Nje-cy</key>
    <dict>
      <key>Te-cy</key>
      <integer>-26</integer>
      <key>Tshe-cy</key>
      <integer>-34</integer>
    </dict>
    <key>O-cy</key>
    <dict>
      <key>Tcommaaccent</key>
      <integer>-21</integer>
    </dict>
    <key>Oacute</key>
    <dict>
      <key>Tcommaaccent</key>
      <integer>-28</integer>
    </dict>
    <key>Ocircumflex</key>
    <dict>
      <key>Tcommaaccent</key>
      <integer>-28</integer>
    </dict>
    <key>Odieresis</key>
    <dict>
      <key>Tcommaaccent</key>
      <integer>-28</integer>
    </dict>
    <key>Odieresis-cy</key>
    <dict>
      <key>Tcommaaccent</key>
      <integer>-21</integer>
    </dict>
    <key>Ograve</key>
    <dict>
      <key>Tcommaaccent</key>
      <integer>-28</integer>
    </dict>
    <key>Ohungarumlaut</key>
    <dict>
      <key>Tcommaaccent</key>
      <integer>-21</integer>
    </dict>
    <key>Omacron</key>
    <dict>
      <key>Tcommaaccent</key>
      <integer>-28</integer>
    </dict>
    <key>Omicron</key>
    <dict>
      <key>Tcaron</key>
      <integer>-7</integer>
      <key>Tcommaaccent</key>
      <integer>-28</integer>
    </dict>
    <key>Oslash</key>
    <dict>
      <key>Tcommaaccent</key>
      <integer>-28</integer>
    </dict>
    <key>Otilde</key>
    <dict>
      <key>Tcommaaccent</key>
      <integer>-28</integer>
    </dict>
    <key>Rho</key>
    <dict>
      <key>Aacute</key>
      <integer>-48</integer>
      <key>Acircumflex</key>
      <integer>-48</integer>
      <key>Agrave</key>
      <integer>-48</integer>
      <key>Atilde</key>
      <integer>-48</integer>
    </dict>
    <key>Schwadieresis-cy</key>
    <dict>
      <key>Tcaron</key>
      <integer>-23</integer>
      <key>Tcommaaccent</key>
      <integer>-21</integer>
    </dict>
    <key>Tau</key>
    <dict>
      <key>AE</key>
      <integer>-22</integer>
      <key>ycircumflex</key>
      <integer>-21</integer>
      <key>ygrave</key>
      <integer>-21</integer>
    </dict>
    <key>Tbar</key>
    <dict>
      <key>agrave</key>
      <integer>-19</integer>
    </dict>
    <key>Tcaron</key>
    <dict>
      <key>AE</key>
      <integer>-89</integer>
      <key>Alpha</key>
      <integer>-18</integer>
      <key>Gdotaccent</key>
      <integer>-28</integer>
      <key>Lambda</key>
      <integer>-18</integer>
      <key>Omicron</key>
      <integer>-28</integer>
      <key>Theta</key>
      <integer>-7</integer>
      <key>acircumflexgrave</key>
      <integer>-18</integer>
      <key>agrave</key>
      <integer>-38</integer>
      <key>cdotaccent</key>
      <integer>-18</integer>
      <key>ecircumflexgrave</key>
      <integer>-18</integer>
      <key>ncaron</key>
      <integer>-33</integer>
      <key>ncommaaccent</key>
      <integer>-56</integer>
      <key>ntilde</key>
      <integer>-33</integer>
      <key>ocircumflexgrave</key>
      <integer>-18</integer>
      <key>omicron</key>
      <integer>-18</integer>
      <key>omicrontonos</key>
      <integer>-18</integer>
      <key>scaron</key>
      <integer>-18</integer>
      <key>scircumflex</key>
      <integer>-18</integer>
      <key>sigma</key>
      <integer>-18</integer>
      <key>udotbelow</key>
      <integer>-33</integer>
      <key>uhookabove</key>
      <integer>-33</integer>
      <key>uhornacute</key>
      <integer>-33</integer>
      <key>uhorndotbelow</key>
      <integer>-33</integer>
      <key>uhorngrave</key>
      <integer>-33</integer>
      <key>uhornhookabove</key>
      <integer>-33</integer>
      <key>uhorntilde</key>
      <integer>-33</integer>
      <key>wcircumflex</key>
      <integer>-34</integer>
      <key>wdieresis</key>
      <integer>-21</integer>
      <key>ycircumflex</key>
      <integer>-21</integer>
      <key>ygrave</key>
      <integer>-21</integer>
      <key>yhookabove</key>
      <integer>-21</integer>
      <key>ytilde</key>
      <integer>-21</integer>
    </dict>
    <key>Tcedilla</key>
    <dict>
      <key>agrave</key>
      <integer>-19</integer>
    </dict>
    <key>Tcommaaccent</key>
    <dict>
      <key>AE</key>
      <integer>-95</integer>
      <key>Gdotaccent</key>
      <integer>-21</integer>
      <key>Omicron</key>
      <integer>-21</integer>
      <key>ncommaaccent</key>
      <integer>-2</integer>
      <key>wdieresis</key>
      <integer>-21</integer>
      <key>ycircumflex</key>
      <integer>-21</integer>
      <key>ydotbelow</key>
      <integer>-21</integer>
      <key>ygrave</key>
      <integer>-21</integer>
      <key>yhookabove</key>
      <integer>-21</integer>
      <key>ytilde</key>
      <integer>-21</integer>
    </dict>
    <key>Te-cy</key>
    <dict>
      <key>AE</key>
      <integer>-22</integer>
      <key>Esdescender-cy</key>
      <integer>-23</integer>
      <key>wdieresis</key>
      <integer>-21</integer>
      <key>ycircumflex</key>
      <integer>-21</integer>
      <key>ygrave</key>
      <integer>-21</integer>
    </dict>
    <key>Theta</key>
    <dict>
      <key>Tcaron</key>
      <integer>-7</integer>
      <key>Tcommaaccent</key>
      <integer>-28</integer>
    </dict>
    <key>Upsilondieresis</key>
    <dict>
      <key>AE</key>
      <integer>-22</integer>
      <key>Aring</key>
      <integer>-48</integer>
      <key>cdotaccent</key>
      <integer>-46</integer>
      <key>ncaron</key>
      <integer>-21</integer>
      <key>ntilde</key>
      <integer>-21</integer>
      <key>omegatonos</key>
      <integer>-45</integer>
    </dict>
    <key>Upsilontonos</key>
    <dict>
      <key>upsilondieresistonos</key>
      <integer>-23</integer>
    </dict>
    <key>Ushort-cy</key>
    <dict>
      <key>A-cy</key>
      <integer>-38</integer>
      <key>ef-cy</key>
      <integer>-34</integer>
      <key>endescender-cy</key>
      <integer>-32</integer>
      <key>ie-cy</key>
      <integer>-34</integer>
      <key>iebreve-cy</key>
      <integer>-34</integer>
      <key>io-cy</key>
      <integer>-11</integer>
      <key>lje-cy</key>
      <integer>-106</integer>
    </dict>
    <key>Ustrait-cy</key>
    <dict>
      <key>AE</key>
      <integer>-22</integer>
      <key>Aacute</key>
      <integer>-57</integer>
      <key>Abreve</key>
      <integer>-57</integer>
      <key>Acircumflex</key>
      <integer>-57</integer>
      <key>Adieresis</key>
      <integer>-56</integer>
      <key>Agrave</key>
      <integer>-57</integer>
      <key>Amacron</key>
      <integer>-56</integer>
      <key>Aogonek</key>
      <integer>-56</integer>
      <key>Aring</key>
      <integer>-60</integer>
      <key>Aringacute</key>
      <integer>-56</integer>
      <key>Atilde</key>
      <integer>-57</integer>
      <key>ncaron</key>
      <integer>-33</integer>
      <key>ncommaaccent</key>
      <integer>-33</integer>
      <key>ntilde</key>
      <integer>-33</integer>
    </dict>
    <key>Wacute</key>
    <dict>
      <key>AE</key>
      <integer>-33</integer>
    </dict>
    <key>Wcircumflex</key>
    <dict>
      <key>AE</key>
      <integer>-33</integer>
      <key>ecircumflexgrave</key>
      <integer>-10</integer>
      <key>scaron</key>
      <integer>-10</integer>
      <key>scircumflex</key>
      <integer>-10</integer>
    </dict>
    <key>Wdieresis</key>
    <dict>
      <key>AE</key>
      <integer>-33</integer>
    </dict>
    <key>Wgrave</key>
    <dict>
      <key>AE</key>
      <integer>-33</integer>
    </dict>
    <key>Yacute</key>
    <dict>
      <key>A-cy</key>
      <integer>-62</integer>
      <key>AE</key>
      <integer>-89</integer>
      <key>Abreve-cy</key>
      <integer>-62</integer>
      <key>Adieresis-cy</key>
      <integer>-62</integer>
      <key>Aie-cy</key>
      <integer>-62</integer>
      <key>Alpha</key>
      <integer>-14</integer>
      <key>Aring</key>
      <integer>-48</integer>
      <key>Esdescender-cy</key>
      <integer>-10</integer>
      <key>Gdotaccent</key>
      <integer>-10</integer>
      <key>Lambda</key>
      <integer>-14</integer>
      <key>Omicron</key>
      <integer>-10</integer>
      <key>a-cy</key>
      <integer>-62</integer>
      <key>abreve-cy</key>
      <integer>-62</integer>
      <key>acircumflexgrave</key>
      <integer>-15</integer>
      <key>adieresis-cy</key>
      <integer>-62</integer>
      <key>cdotaccent</key>
      <integer>-15</integer>
      <key>dze-cy</key>
      <integer>-10</integer>
      <key>e-cy</key>
      <integer>-62</integer>
      <key>ecircumflexgrave</key>
      <integer>-62</integer>
      <key>ef-cy</key>
      <integer>-62</integer>
      <key>es-cy</key>
      <integer>-62</integer>
      <key>esdescender-cy</key>
      <integer>-62</integer>
      <key>eta</key>
      <integer>-6</integer>
      <key>etatonos</key>
      <integer>-7</integer>
      <key>fita-cy</key>
      <integer>-62</integer>
      <key>ie-cy</key>
      <integer>-62</integer>
      <key>iebreve-cy</key>
      <integer>-15</integer>
      <key>iegrave-cy</key>
      <integer>-62</integer>
      <key>io-cy</key>
      <integer>-15</integer>
      <key>komide-cy</key>
      <integer>-62</integer>
      <key>n</key>
      <integer>-2</integer>
      <key>ncaron</key>
      <integer>-7</integer>
      <key>ntilde</key>
      <integer>-7</integer>
      <key>o-cy</key>
      <integer>-62</integer>
      <key>obarred-cy</key>
      <integer>-62</integer>
      <key>obarreddieresis-cy</key>
      <integer>-62</integer>
      <key>ocircumflexgrave</key>
      <integer>-62</integer>
      <key>odieresis-cy</key>
      <integer>-62</integer>
      <key>omegatonos</key>
      <integer>-45</integer>
      <key>omicron</key>
      <integer>-15</integer>
      <key>omicrontonos</key>
      <integer>-14</integer>
      <key>s</key>
      <integer>-2</integer>
      <key>scaron</key>
      <integer>-10</integer>
      <key>scircumflex</key>
      <integer>-10</integer>
      <key>sigma</key>
      <integer>-14</integer>
    </dict>
    <key>Ycircumflex</key>
    <dict>
      <key>A-cy</key>
      <integer>-62</integer>
      <key>AE</key>
      <integer>-89</integer>
      <key>Abreve-cy</key>
      <integer>-62</integer>
      <key>Adieresis-cy</key>
      <integer>-62</integer>
      <key>Aie-cy</key>
      <integer>-62</integer>
      <key>Alpha</key>
      <integer>-14</integer>
      <key>Aring</key>
      <integer>-48</integer>
      <key>Esdescender-cy</key>
      <integer>-10</integer>
      <key>Gdotaccent</key>
      <integer>-10</integer>
      <key>Lambda</key>
      <integer>-14</integer>
      <key>Omicron</key>
      <integer>-10</integer>
      <key>a-cy</key>
      <integer>-62</integer>
      <key>abreve-cy</key>
      <integer>-62</integer>
      <key>acircumflexgrave</key>
      <integer>-15</integer>
      <key>adieresis-cy</key>
      <integer>-62</integer>
      <key>cdotaccent</key>
      <integer>-15</integer>
      <key>e-cy</key>
      <integer>-62</integer>
      <key>ecircumflexgrave</key>
      <integer>-62</integer>
      <key>ef-cy</key>
      <integer>-62</integer>
      <key>es-cy</key>
      <integer>-62</integer>
      <key>esdescender-cy</key>
      <integer>-62</integer>
      <key>fita-cy</key>
      <integer>-62</integer>
      <key>ie-cy</key>
      <integer>-62</integer>
      <key>iebreve-cy</key>
      <integer>-15</integer>
      <key>iegrave-cy</key>
      <integer>-62</integer>
      <key>io-cy</key>
      <integer>-15</integer>
      <key>komide-cy</key>
      <integer>-62</integer>
      <key>ncommaaccent</key>
      <integer>-15</integer>
      <key>o-cy</key>
      <integer>-62</integer>
      <key>obarred-cy</key>
      <integer>-62</integer>
      <key>obarreddieresis-cy</key>
      <integer>-62</integer>
      <key>ocircumflexgrave</key>
      <integer>-62</integer>
      <key>odieresis-cy</key>
      <integer>-62</integer>
      <key>omegatonos</key>
      <integer>-45</integer>
      <key>omicron</key>
      <integer>-15</integer>
      <key>omicrontonos</key>
      <integer>-14</integer>
      <key>s</key>
      <integer>-56</integer>
      <key>sacute</key>
      <integer>-21</integer>
      <key>scedilla</key>
      <integer>-21</integer>
      <key>scommaaccent</key>
      <integer>-21</integer>
      <key>sigma</key>
      <integer>-14</integer>
    </dict>
    <key>Ydieresis</key>
    <dict>
      <key>A-cy</key>
      <integer>-62</integer>
      <key>AE</key>
      <integer>-89</integer>
      <key>Abreve-cy</key>
      <integer>-62</integer>
      <key>Adieresis-cy</key>
      <integer>-62</integer>
      <key>Aie-cy</key>
      <integer>-62</integer>
      <key>Alpha</key>
      <integer>-14</integer>
      <key>Aring</key>
      <integer>-48</integer>
      <key>Esdescender-cy</key>
      <integer>-10</integer>
      <key>Gdotaccent</key>
      <integer>-10</integer>
      <key>Lambda</key>
      <integer>-14</integer>
      <key>Omicron</key>
      <integer>-10</integer>
      <key>a-cy</key>
      <integer>-62</integer>
      <key>abreve-cy</key>
      <integer>-62</integer>
      <key>acircumflexgrave</key>
      <integer>-15</integer>
      <key>adieresis-cy</key>
      <integer>-62</integer>
      <key>cdotaccent</key>
      <integer>-15</integer>
      <key>dze-cy</key>
      <integer>-10</integer>
      <key>e-cy</key>
      <integer>-62</integer>
      <key>ecircumflexgrave</key>
      <integer>-62</integer>
      <key>ef-cy</key>
      <integer>-62</integer>
      <key>es-cy</key>
      <integer>-62</integer>
      <key>esdescender-cy</key>
      <integer>-62</integer>
      <key>fita-cy</key>
      <integer>-62</integer>
      <key>ie-cy</key>
      <integer>-62</integer>
      <key>iebreve-cy</key>
      <integer>-15</integer>
      <key>iegrave-cy</key>
      <integer>-62</integer>
      <key>io-cy</key>
      <integer>-15</integer>
      <key>komide-cy</key>
      <integer>-62</integer>
      <key>ncommaaccent</key>
      <integer>-15</integer>
      <key>o-cy</key>
      <integer>-62</integer>
      <key>obarred-cy</key>
      <integer>-62</integer>
      <key>obarreddieresis-cy</key>
      <integer>-62</integer>
      <key>ocircumflexgrave</key>
      <integer>-62</integer>
      <key>odieresis-cy</key>
      <integer>-62</integer>
      <key>omegatonos</key>
      <integer>-45</integer>
      <key>omicron</key>
      <integer>-15</integer>
      <key>omicrontonos</key>
      <integer>-14</integer>
      <key>s</key>
      <integer>-2</integer>
      <key>scaron</key>
      <integer>-10</integer>
      <key>scircumflex</key>
      <integer>-10</integer>
      <key>sigma</key>
      <integer>-14</integer>
    </dict>
    <key>Ydotbelow</key>
    <dict>
      <key>Aring</key>
      <integer>-6</integer>
    </dict>
    <key>Ygrave</key>
    <dict>
      <key>A-cy</key>
      <integer>-48</integer>
      <key>AE</key>
      <integer>-95</integer>
      <key>Abreve-cy</key>
      <integer>-48</integer>
      <key>Adieresis-cy</key>
      <integer>-48</integer>
      <key>Aie-cy</key>
      <integer>-48</integer>
      <key>Aring</key>
      <integer>-48</integer>
      <key>a-cy</key>
      <integer>-48</integer>
      <key>abreve-cy</key>
      <integer>-48</integer>
      <key>adieresis-cy</key>
      <integer>-48</integer>
      <key>e-cy</key>
      <integer>-48</integer>
      <key>ecircumflexgrave</key>
      <integer>-45</integer>
      <key>ef-cy</key>
      <integer>-48</integer>
      <key>es-cy</key>
      <integer>-48</integer>
      <key>esdescender-cy</key>
      <integer>-48</integer>
      <key>fita-cy</key>
      <integer>-48</integer>
      <key>ie-cy</key>
      <integer>-48</integer>
      <key>iegrave-cy</key>
      <integer>-48</integer>
      <key>komide-cy</key>
      <integer>-48</integer>
      <key>o-cy</key>
      <integer>-48</integer>
      <key>obarred-cy</key>
      <integer>-48</integer>
      <key>obarreddieresis-cy</key>
      <integer>-48</integer>
      <key>ocircumflexgrave</key>
      <integer>-45</integer>
      <key>odieresis-cy</key>
      <integer>-48</integer>
      <key>omegatonos</key>
      <integer>-45</integer>
    </dict>
    <key>Yhookabove</key>
    <dict>
      <key>Aacute</key>
      <integer>-9</integer>
      <key>Abreve</key>
      <integer>-9</integer>
      <key>Acircumflex</key>
      <integer>-9</integer>
      <key>Acircumflexhookabove</key>
      <integer>-9</integer>
      <key>Adieresis</key>
      <integer>-9</integer>
      <key>Agrave</key>
      <integer>-9</integer>
      <key>Ahookabove</key>
      <integer>-9</integer>
      <key>Amacron</key>
      <integer>-9</integer>
      <key>Aogonek</key>
      <integer>-9</integer>
      <key>Aringacute</key>
      <integer>-9</integer>
      <key>Aringbelow</key>
      <integer>-9</integer>
      <key>Atilde</key>
      <integer>-9</integer>
    </dict>
    <key>Ytilde</key>
    <dict>
      <key>Aacute</key>
      <integer>-9</integer>
      <key>Abreve</key>
      <integer>-9</integer>
      <key>Acircumflex</key>
      <integer>-9</integer>
      <key>Acircumflexhookabove</key>
      <integer>-9</integer>
      <key>Adieresis</key>
      <integer>-9</integer>
      <key>Agrave</key>
      <integer>-9</integer>
      <key>Ahookabove</key>
      <integer>-9</integer>
      <key>Amacron</key>
      <integer>-9</integer>
      <key>Aogonek</key>
      <integer>-9</integer>
      <key>Aringacute</key>
      <integer>-9</integer>
      <key>Aringbelow</key>
      <integer>-9</integer>
      <key>Atilde</key>
      <integer>-9</integer>
    </dict>
    <key>five.numr</key>
    <dict>
      <key>fraction</key>
      <integer>49</integer>
    </dict>
    <key>fraction</key>
    <dict>
      <key>eight.dnom</key>
      <integer>28</integer>
      <key>four.dnom</key>
      <integer>-63</integer>
    </dict>
    <key>lcaron</key>
    <dict>
      <key>b</key>
      <integer>22</integer>
    </dict>
    <key>lje-cy</key>
    <dict>
      <key>ushort-cy</key>
      <integer>-10</integer>
    </dict>
    <key>one.numr</key>
    <dict>
      <key>fraction</key>
      <integer>42</integer>
    </dict>
    <key>seven.numr</key>
    <dict>
      <key>fraction</key>
      <integer>-42</integer>
    </dict>
    <key>three.numr</key>
    <dict>
      <key>fraction</key>
      <integer>86</integer>
    </dict>
  </dict>
</plist>
