<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>0,0.25,1,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>55D71E1E-BF29-43A6-A760-2C7C39A20A41</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.dollar.rvrn</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.shindagesh-hb.rvrn</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.shindageshsindot-hb.rvrn</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tavdagesh-hb.rvrn</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni047C.rvrn</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
