<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>alefdagesh-hb.rvrn</key>
		<string>alefdagesh-hb.rvrn.glif</string>
		<key>finalpedagesh-hb.rvrn</key>
		<string>finalpedagesh-hb.rvrn.glif</string>
		<key>hedagesh-hb.rvrn</key>
		<string>hedagesh-hb.rvrn.glif</string>
		<key>pedagesh-hb.rvrn</key>
		<string>pedagesh-hb.rvrn.glif</string>
		<key>qofdagesh-hb.rvrn</key>
		<string>qofdagesh-hb.rvrn.glif</string>
		<key>shindageshshindot-hb.rvrn</key>
		<string>shindageshshindot-hb.rvrn.glif</string>
		<key>shindageshsindot-hb.rvrn</key>
		<string>shindageshsindot-hb.rvrn.glif</string>
	</dict>
</plist>
