<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>D004763C-D8BA-4C72-8DC3-9159F9C8F19B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.dollar.rvrn</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.shindagesh-hb.rvrn</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tavdagesh-hb.rvrn</key>
      <integer>2</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni047C.rvrn</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
