absl-py==0.11.0
appdirs==1.4.4
attrs==20.3.0
babelfont==0.4.0
beautifulsoup4==4.9.3
beziers==0.1.0
booleanOperations==0.9.0
Brotli==1.0.9
browserstack-local==1.2.2
bump2version==1.0.1
cached-property==1.5.2
cattrs==1.1.2
certifi==2022.12.7
cffi==1.14.4
cffsubr==0.2.9.post1
chardet==4.0.0
charset-normalizer==3.3.2
click==7.1.2
commandlines==0.4.1
compreffor==0.5.1
cryptography==41.0.5
cu2qu==1.6.7
defcon==0.7.2
Deprecated==1.2.10
Flask==1.1.4
font-v==1.0.5
fontbakery==0.7.34
fontdiffenator==0.9.9
fontmake==2.3.0
fontMath==0.6.0
fontParts==0.9.7
fontPens==0.2.4
fonttools==4.18.2
freetype-py==2.2.0
fs==2.4.11
gfdiffbrowsers==0.1.7
gftools==0.6.2
gitdb==4.0.5
gitdb2==4.0.2
GitPython==3.1.30
glyphsLib==5.3.1
idna==3.4
itsdangerous==1.1.0
Jinja2==2.11.3
lxml==4.9.1
MarkupSafe==1.1.1
openstep-plist==0.3.1
opentype-sanitizer==8.1.2.post3
Pillow==9.3.0
pip-api==0.0.17
protobuf==3.18.3
psutil==5.8.0
pybrowserstack-screenshots==0.1
pycairo==1.20.0
pyclipper==1.2.1
pycparser==2.20
pygit2==1.13.1
PyGithub==2.1.1
PyJWT==2.8.0
PyNaCl==1.5.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.5
PyYAML==6.0.1
requests==2.31.0
ruamel.yaml==0.16.12
simplejson==3.17.2
six==1.15.0
smmap==3.0.4
smmap2==3.0.1
soupsieve==2.1
statmake==0.2.2
strictyaml==1.2.0
tabulate==0.8.7
ttfautohint-py==0.5.1
typing_extensions==4.8.0
ufo2ft==2.19.1
ufoLib2==0.10.1
ufolint==1.2.0
uharfbuzz==0.37.3
unicodedata2==15.1.0
Unidecode==1.1.2
urllib3==1.26.5
vttLib==0.9.1.post2
Werkzeug==1.0.1
wrapt==1.12.1
