<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>@MMK_L_eight.numr</key>
    <dict>
      <key>@MMK_R_fraction</key>
      <integer>100</integer>
    </dict>
    <key>@MMK_L_four.numr</key>
    <dict>
      <key>@MMK_R_fraction</key>
      <integer>120</integer>
    </dict>
    <key>@MMK_L_fraction</key>
    <dict>
      <key>@MMK_R_nine.numr</key>
      <integer>10</integer>
      <key>@MMK_R_seven.numr</key>
      <integer>50</integer>
      <key>@MMK_R_three.numr</key>
      <integer>20</integer>
      <key>@MMK_R_two.numr</key>
      <integer>20</integer>
    </dict>
    <key>@MMK_L_nine.numr</key>
    <dict>
      <key>@MMK_R_fraction</key>
      <integer>30</integer>
    </dict>
    <key>@MMK_L_one.numr</key>
    <dict>
      <key>@MMK_R_one.numr</key>
      <integer>-80</integer>
      <key>@MMK_R_zero.numr</key>
      <integer>-60</integer>
    </dict>
    <key>@MMK_L_six.numr</key>
    <dict>
      <key>@MMK_R_fraction</key>
      <integer>70</integer>
    </dict>
    <key>@MMK_L_two.numr</key>
    <dict>
      <key>@MMK_R_fraction</key>
      <integer>130</integer>
    </dict>
    <key>@MMK_L_zero.numr</key>
    <dict>
      <key>@MMK_R_fraction</key>
      <integer>70</integer>
    </dict>
    <key>Aacute</key>
    <dict>
      <key>Yacute</key>
      <integer>-64</integer>
      <key>Ycircumflex</key>
      <integer>-64</integer>
      <key>Ydieresis</key>
      <integer>-64</integer>
      <key>Ygrave</key>
      <integer>-64</integer>
    </dict>
    <key>Abreve</key>
    <dict>
      <key>Tcommaaccent</key>
      <integer>-24</integer>
      <key>Yacute</key>
      <integer>-64</integer>
      <key>Ycircumflex</key>
      <integer>-64</integer>
      <key>Ydieresis</key>
      <integer>-64</integer>
      <key>Ygrave</key>
      <integer>-64</integer>
    </dict>
    <key>Abreveacute</key>
    <dict>
      <key>Ydotbelow</key>
      <integer>-8</integer>
      <key>Yhookabove</key>
      <integer>-8</integer>
      <key>Ytilde</key>
      <integer>-8</integer>
    </dict>
    <key>Abrevedotbelow</key>
    <dict>
      <key>Ydotbelow</key>
      <integer>-8</integer>
      <key>Yhookabove</key>
      <integer>-8</integer>
      <key>Ytilde</key>
      <integer>-8</integer>
    </dict>
    <key>Abrevegrave</key>
    <dict>
      <key>Ydotbelow</key>
      <integer>-8</integer>
      <key>Yhookabove</key>
      <integer>-8</integer>
      <key>Ytilde</key>
      <integer>-8</integer>
    </dict>
    <key>Abrevehookabove</key>
    <dict>
      <key>Ydotbelow</key>
      <integer>-8</integer>
      <key>Yhookabove</key>
      <integer>-8</integer>
      <key>Ytilde</key>
      <integer>-8</integer>
    </dict>
    <key>Abrevetilde</key>
    <dict>
      <key>Yacute</key>
      <integer>-13</integer>
      <key>Ycircumflex</key>
      <integer>-13</integer>
      <key>Ydieresis</key>
      <integer>-13</integer>
      <key>Ygrave</key>
      <integer>-13</integer>
    </dict>
    <key>Acircumflex</key>
    <dict>
      <key>Yacute</key>
      <integer>-64</integer>
      <key>Ycircumflex</key>
      <integer>-64</integer>
      <key>Ydieresis</key>
      <integer>-64</integer>
      <key>Ygrave</key>
      <integer>-64</integer>
    </dict>
    <key>Acircumflexacute</key>
    <dict>
      <key>Yacute</key>
      <integer>-13</integer>
      <key>Ycircumflex</key>
      <integer>-13</integer>
      <key>Ydieresis</key>
      <integer>-13</integer>
      <key>Ygrave</key>
      <integer>-13</integer>
    </dict>
    <key>Acircumflexdotbelow</key>
    <dict>
      <key>Ydotbelow</key>
      <integer>-8</integer>
      <key>Yhookabove</key>
      <integer>-8</integer>
      <key>Ytilde</key>
      <integer>-8</integer>
    </dict>
    <key>Acircumflexgrave</key>
    <dict>
      <key>Ydotbelow</key>
      <integer>-8</integer>
      <key>Yhookabove</key>
      <integer>-8</integer>
      <key>Ytilde</key>
      <integer>-8</integer>
    </dict>
    <key>Acircumflexhookabove</key>
    <dict>
      <key>Yacute</key>
      <integer>-13</integer>
      <key>Ycircumflex</key>
      <integer>-13</integer>
      <key>Ydieresis</key>
      <integer>-13</integer>
      <key>Ygrave</key>
      <integer>-13</integer>
    </dict>
    <key>Acircumflextilde</key>
    <dict>
      <key>Ydotbelow</key>
      <integer>-8</integer>
      <key>Yhookabove</key>
      <integer>-8</integer>
      <key>Ytilde</key>
      <integer>-8</integer>
    </dict>
    <key>Adieresis</key>
    <dict>
      <key>Jcircumflex</key>
      <integer>22</integer>
      <key>Yacute</key>
      <integer>-64</integer>
      <key>Ycircumflex</key>
      <integer>-64</integer>
      <key>Ydieresis</key>
      <integer>-64</integer>
      <key>Ygrave</key>
      <integer>-64</integer>
    </dict>
    <key>Adotbelow</key>
    <dict>
      <key>Yacute</key>
      <integer>-13</integer>
      <key>Ycircumflex</key>
      <integer>-13</integer>
      <key>Ydieresis</key>
      <integer>-13</integer>
      <key>Ygrave</key>
      <integer>-13</integer>
    </dict>
    <key>Agrave</key>
    <dict>
      <key>Jcircumflex</key>
      <integer>22</integer>
      <key>Yacute</key>
      <integer>-64</integer>
      <key>Ycircumflex</key>
      <integer>-64</integer>
      <key>Ydieresis</key>
      <integer>-64</integer>
      <key>Ygrave</key>
      <integer>-64</integer>
    </dict>
    <key>Ahookabove</key>
    <dict>
      <key>Yacute</key>
      <integer>-13</integer>
      <key>Ycircumflex</key>
      <integer>-13</integer>
      <key>Ydieresis</key>
      <integer>-13</integer>
      <key>Ygrave</key>
      <integer>-13</integer>
    </dict>
    <key>Alpha</key>
    <dict>
      <key>Tcaron</key>
      <integer>-24</integer>
      <key>Tcommaaccent</key>
      <integer>-24</integer>
    </dict>
    <key>Amacron</key>
    <dict>
      <key>Tcommaaccent</key>
      <integer>-24</integer>
      <key>Yacute</key>
      <integer>-64</integer>
      <key>Ycircumflex</key>
      <integer>-64</integer>
      <key>Ydieresis</key>
      <integer>-64</integer>
      <key>Ygrave</key>
      <integer>-64</integer>
    </dict>
    <key>Aogonek</key>
    <dict>
      <key>Tcommaaccent</key>
      <integer>-24</integer>
      <key>Yacute</key>
      <integer>-64</integer>
      <key>Ycircumflex</key>
      <integer>-64</integer>
      <key>Ydieresis</key>
      <integer>-64</integer>
      <key>Ygrave</key>
      <integer>-64</integer>
    </dict>
    <key>Aring</key>
    <dict>
      <key>Jcircumflex</key>
      <integer>22</integer>
      <key>Tcommaaccent</key>
      <integer>-24</integer>
      <key>Yacute</key>
      <integer>-64</integer>
      <key>Ycircumflex</key>
      <integer>-64</integer>
      <key>Ydieresis</key>
      <integer>-64</integer>
      <key>Ygrave</key>
      <integer>-64</integer>
    </dict>
    <key>Aringacute</key>
    <dict>
      <key>Tcommaaccent</key>
      <integer>-24</integer>
      <key>Yacute</key>
      <integer>-64</integer>
      <key>Ycircumflex</key>
      <integer>-64</integer>
      <key>Ydieresis</key>
      <integer>-64</integer>
      <key>Ygrave</key>
      <integer>-64</integer>
    </dict>
    <key>Aringbelow</key>
    <dict>
      <key>Yacute</key>
      <integer>-13</integer>
      <key>Ycircumflex</key>
      <integer>-13</integer>
      <key>Ydieresis</key>
      <integer>-13</integer>
      <key>Ygrave</key>
      <integer>-13</integer>
    </dict>
    <key>Atilde</key>
    <dict>
      <key>Tcommaaccent</key>
      <integer>-24</integer>
      <key>Yacute</key>
      <integer>-64</integer>
      <key>Ycircumflex</key>
      <integer>-64</integer>
      <key>Ydieresis</key>
      <integer>-64</integer>
      <key>Ygrave</key>
      <integer>-64</integer>
    </dict>
    <key>Cacute</key>
    <dict>
      <key>Gdotaccent</key>
      <integer>-14</integer>
    </dict>
    <key>Ccaron</key>
    <dict>
      <key>Gdotaccent</key>
      <integer>-14</integer>
    </dict>
    <key>Ccedilla</key>
    <dict>
      <key>Gdotaccent</key>
      <integer>-14</integer>
    </dict>
    <key>Edieresis-cy</key>
    <dict>
      <key>Tcommaaccent</key>
      <integer>-30</integer>
    </dict>
    <key>Er-cy</key>
    <dict>
      <key>AE</key>
      <integer>-29</integer>
      <key>Abreve</key>
      <integer>-47</integer>
      <key>Adieresis</key>
      <integer>-47</integer>
      <key>Amacron</key>
      <integer>-47</integer>
      <key>Aogonek</key>
      <integer>-47</integer>
      <key>Aring</key>
      <integer>-47</integer>
      <key>Aringacute</key>
      <integer>-47</integer>
    </dict>
    <key>Ghestroke-cy</key>
    <dict>
      <key>Lje-cy</key>
      <integer>-61</integer>
    </dict>
    <key>Gje-cy</key>
    <dict>
      <key>endescender-cy</key>
      <integer>-34</integer>
      <key>ustrait-cy</key>
      <integer>-25</integer>
    </dict>
    <key>Kcommaaccent</key>
    <dict>
      <key>Gdotaccent</key>
      <integer>-14</integer>
      <key>Omicron</key>
      <integer>-14</integer>
    </dict>
    <key>Lacute</key>
    <dict>
      <key>Tcommaaccent</key>
      <integer>-24</integer>
    </dict>
    <key>Lambda</key>
    <dict>
      <key>Tau</key>
      <integer>-51</integer>
      <key>Tcaron</key>
      <integer>0</integer>
      <key>Ycircumflex</key>
      <integer>-64</integer>
      <key>Ydieresis</key>
      <integer>-64</integer>
      <key>Ygrave</key>
      <integer>-64</integer>
    </dict>
    <key>Lcaron</key>
    <dict>
      <key>Tcommaaccent</key>
      <integer>-24</integer>
    </dict>
    <key>Ldot</key>
    <dict>
      <key>Tcommaaccent</key>
      <integer>-24</integer>
    </dict>
    <key>Lje-cy</key>
    <dict>
      <key>Tshe-cy</key>
      <integer>-48</integer>
    </dict>
    <key>Nje-cy</key>
    <dict>
      <key>Te-cy</key>
      <integer>0</integer>
      <key>Tshe-cy</key>
      <integer>-48</integer>
    </dict>
    <key>O-cy</key>
    <dict>
      <key>Tcommaaccent</key>
      <integer>-30</integer>
    </dict>
    <key>Oacute</key>
    <dict>
      <key>Tcommaaccent</key>
      <integer>-40</integer>
    </dict>
    <key>Ocircumflex</key>
    <dict>
      <key>Tcommaaccent</key>
      <integer>-40</integer>
    </dict>
    <key>Odieresis</key>
    <dict>
      <key>Tcommaaccent</key>
      <integer>-40</integer>
    </dict>
    <key>Odieresis-cy</key>
    <dict>
      <key>Tcommaaccent</key>
      <integer>-30</integer>
    </dict>
    <key>Ograve</key>
    <dict>
      <key>Tcommaaccent</key>
      <integer>-40</integer>
    </dict>
    <key>Ohungarumlaut</key>
    <dict>
      <key>Tcommaaccent</key>
      <integer>-30</integer>
    </dict>
    <key>Omacron</key>
    <dict>
      <key>Tcommaaccent</key>
      <integer>-40</integer>
    </dict>
    <key>Omicron</key>
    <dict>
      <key>Tcaron</key>
      <integer>-10</integer>
      <key>Tcommaaccent</key>
      <integer>-40</integer>
    </dict>
    <key>Oslash</key>
    <dict>
      <key>Tcommaaccent</key>
      <integer>-40</integer>
    </dict>
    <key>Otilde</key>
    <dict>
      <key>Tcommaaccent</key>
      <integer>-40</integer>
    </dict>
    <key>Rho</key>
    <dict>
      <key>Aacute</key>
      <integer>-64</integer>
      <key>Acircumflex</key>
      <integer>-64</integer>
      <key>Agrave</key>
      <integer>-64</integer>
      <key>Atilde</key>
      <integer>-64</integer>
    </dict>
    <key>Schwadieresis-cy</key>
    <dict>
      <key>Tcaron</key>
      <integer>-33</integer>
      <key>Tcommaaccent</key>
      <integer>-30</integer>
    </dict>
    <key>Tau</key>
    <dict>
      <key>AE</key>
      <integer>-29</integer>
      <key>ycircumflex</key>
      <integer>-30</integer>
      <key>ygrave</key>
      <integer>-30</integer>
    </dict>
    <key>Tbar</key>
    <dict>
      <key>agrave</key>
      <integer>-27</integer>
    </dict>
    <key>Tcaron</key>
    <dict>
      <key>AE</key>
      <integer>-127</integer>
      <key>Alpha</key>
      <integer>-24</integer>
      <key>Gdotaccent</key>
      <integer>-40</integer>
      <key>Lambda</key>
      <integer>-24</integer>
      <key>Omicron</key>
      <integer>-40</integer>
      <key>Theta</key>
      <integer>-9</integer>
      <key>acircumflexgrave</key>
      <integer>-24</integer>
      <key>agrave</key>
      <integer>-51</integer>
      <key>cdotaccent</key>
      <integer>-24</integer>
      <key>ecircumflexgrave</key>
      <integer>-24</integer>
      <key>ncaron</key>
      <integer>-47</integer>
      <key>ncommaaccent</key>
      <integer>-80</integer>
      <key>ntilde</key>
      <integer>-47</integer>
      <key>ocircumflexgrave</key>
      <integer>-24</integer>
      <key>omicron</key>
      <integer>-24</integer>
      <key>omicrontonos</key>
      <integer>-24</integer>
      <key>scaron</key>
      <integer>-24</integer>
      <key>scircumflex</key>
      <integer>-24</integer>
      <key>sigma</key>
      <integer>-24</integer>
      <key>udotbelow</key>
      <integer>-47</integer>
      <key>uhookabove</key>
      <integer>-47</integer>
      <key>uhornacute</key>
      <integer>-47</integer>
      <key>uhorndotbelow</key>
      <integer>-47</integer>
      <key>uhorngrave</key>
      <integer>-47</integer>
      <key>uhornhookabove</key>
      <integer>-47</integer>
      <key>uhorntilde</key>
      <integer>-47</integer>
      <key>wcircumflex</key>
      <integer>-48</integer>
      <key>wdieresis</key>
      <integer>-30</integer>
      <key>ycircumflex</key>
      <integer>-30</integer>
      <key>ygrave</key>
      <integer>-30</integer>
      <key>yhookabove</key>
      <integer>-30</integer>
      <key>ytilde</key>
      <integer>-30</integer>
    </dict>
    <key>Tcedilla</key>
    <dict>
      <key>agrave</key>
      <integer>-27</integer>
    </dict>
    <key>Tcommaaccent</key>
    <dict>
      <key>AE</key>
      <integer>-127</integer>
      <key>Gdotaccent</key>
      <integer>-30</integer>
      <key>Omicron</key>
      <integer>-30</integer>
      <key>wdieresis</key>
      <integer>-30</integer>
      <key>ycircumflex</key>
      <integer>-30</integer>
      <key>ydotbelow</key>
      <integer>-30</integer>
      <key>ygrave</key>
      <integer>-30</integer>
      <key>yhookabove</key>
      <integer>-30</integer>
      <key>ytilde</key>
      <integer>-30</integer>
    </dict>
    <key>Te-cy</key>
    <dict>
      <key>AE</key>
      <integer>-29</integer>
      <key>Esdescender-cy</key>
      <integer>-33</integer>
      <key>wdieresis</key>
      <integer>-30</integer>
      <key>ycircumflex</key>
      <integer>-30</integer>
      <key>ygrave</key>
      <integer>-30</integer>
    </dict>
    <key>Theta</key>
    <dict>
      <key>Tcaron</key>
      <integer>-10</integer>
      <key>Tcommaaccent</key>
      <integer>-40</integer>
    </dict>
    <key>Upsilondieresis</key>
    <dict>
      <key>AE</key>
      <integer>-29</integer>
      <key>Aring</key>
      <integer>-64</integer>
      <key>cdotaccent</key>
      <integer>-65</integer>
      <key>ncaron</key>
      <integer>-30</integer>
      <key>ntilde</key>
      <integer>-30</integer>
      <key>omegatonos</key>
      <integer>-64</integer>
    </dict>
    <key>Upsilontonos</key>
    <dict>
      <key>upsilondieresistonos</key>
      <integer>-33</integer>
    </dict>
    <key>Ushort-cy</key>
    <dict>
      <key>A-cy</key>
      <integer>-51</integer>
      <key>ef-cy</key>
      <integer>-49</integer>
      <key>endescender-cy</key>
      <integer>-43</integer>
      <key>ie-cy</key>
      <integer>-49</integer>
      <key>iebreve-cy</key>
      <integer>-49</integer>
      <key>io-cy</key>
      <integer>-16</integer>
      <key>lje-cy</key>
      <integer>-142</integer>
    </dict>
    <key>Ustrait-cy</key>
    <dict>
      <key>AE</key>
      <integer>-29</integer>
      <key>Aacute</key>
      <integer>-81</integer>
      <key>Abreve</key>
      <integer>-81</integer>
      <key>Acircumflex</key>
      <integer>-81</integer>
      <key>Adieresis</key>
      <integer>-80</integer>
      <key>Agrave</key>
      <integer>-81</integer>
      <key>Amacron</key>
      <integer>-80</integer>
      <key>Aogonek</key>
      <integer>-80</integer>
      <key>Aring</key>
      <integer>-80</integer>
      <key>Aringacute</key>
      <integer>-80</integer>
      <key>Atilde</key>
      <integer>-81</integer>
      <key>ncaron</key>
      <integer>-47</integer>
      <key>ncommaaccent</key>
      <integer>-47</integer>
      <key>ntilde</key>
      <integer>-47</integer>
    </dict>
    <key>Wacute</key>
    <dict>
      <key>AE</key>
      <integer>-47</integer>
    </dict>
    <key>Wcircumflex</key>
    <dict>
      <key>AE</key>
      <integer>-47</integer>
      <key>ecircumflexgrave</key>
      <integer>-14</integer>
      <key>scaron</key>
      <integer>-14</integer>
      <key>scircumflex</key>
      <integer>-14</integer>
    </dict>
    <key>Wdieresis</key>
    <dict>
      <key>AE</key>
      <integer>-47</integer>
    </dict>
    <key>Wgrave</key>
    <dict>
      <key>AE</key>
      <integer>-47</integer>
    </dict>
    <key>Yacute</key>
    <dict>
      <key>A-cy</key>
      <integer>-83</integer>
      <key>AE</key>
      <integer>-127</integer>
      <key>Abreve-cy</key>
      <integer>-83</integer>
      <key>Adieresis-cy</key>
      <integer>-83</integer>
      <key>Aie-cy</key>
      <integer>-83</integer>
      <key>Alpha</key>
      <integer>-19</integer>
      <key>Aring</key>
      <integer>-64</integer>
      <key>Esdescender-cy</key>
      <integer>-14</integer>
      <key>Gdotaccent</key>
      <integer>-14</integer>
      <key>Lambda</key>
      <integer>-19</integer>
      <key>Omicron</key>
      <integer>-14</integer>
      <key>a-cy</key>
      <integer>-83</integer>
      <key>abreve-cy</key>
      <integer>-83</integer>
      <key>acircumflexgrave</key>
      <integer>-20</integer>
      <key>adieresis-cy</key>
      <integer>-83</integer>
      <key>cdotaccent</key>
      <integer>-20</integer>
      <key>dze-cy</key>
      <integer>-14</integer>
      <key>e-cy</key>
      <integer>-83</integer>
      <key>ecircumflexgrave</key>
      <integer>-83</integer>
      <key>ef-cy</key>
      <integer>-83</integer>
      <key>es-cy</key>
      <integer>-83</integer>
      <key>esdescender-cy</key>
      <integer>-83</integer>
      <key>eta</key>
      <integer>-9</integer>
      <key>etatonos</key>
      <integer>-10</integer>
      <key>fita-cy</key>
      <integer>-83</integer>
      <key>ie-cy</key>
      <integer>-83</integer>
      <key>iebreve-cy</key>
      <integer>-20</integer>
      <key>iegrave-cy</key>
      <integer>-83</integer>
      <key>io-cy</key>
      <integer>-20</integer>
      <key>komide-cy</key>
      <integer>-83</integer>
      <key>ncaron</key>
      <integer>-9</integer>
      <key>ntilde</key>
      <integer>-9</integer>
      <key>o-cy</key>
      <integer>-83</integer>
      <key>obarred-cy</key>
      <integer>-83</integer>
      <key>obarreddieresis-cy</key>
      <integer>-83</integer>
      <key>ocircumflexgrave</key>
      <integer>-83</integer>
      <key>odieresis-cy</key>
      <integer>-83</integer>
      <key>omegatonos</key>
      <integer>-64</integer>
      <key>omicron</key>
      <integer>-20</integer>
      <key>omicrontonos</key>
      <integer>-19</integer>
      <key>scaron</key>
      <integer>-14</integer>
      <key>scircumflex</key>
      <integer>-14</integer>
      <key>sigma</key>
      <integer>-19</integer>
    </dict>
    <key>Ycircumflex</key>
    <dict>
      <key>A-cy</key>
      <integer>-83</integer>
      <key>AE</key>
      <integer>-127</integer>
      <key>Abreve-cy</key>
      <integer>-83</integer>
      <key>Adieresis-cy</key>
      <integer>-83</integer>
      <key>Aie-cy</key>
      <integer>-83</integer>
      <key>Alpha</key>
      <integer>-19</integer>
      <key>Aring</key>
      <integer>-64</integer>
      <key>Esdescender-cy</key>
      <integer>-14</integer>
      <key>Gdotaccent</key>
      <integer>-14</integer>
      <key>Lambda</key>
      <integer>-19</integer>
      <key>Omicron</key>
      <integer>-14</integer>
      <key>a-cy</key>
      <integer>-83</integer>
      <key>abreve-cy</key>
      <integer>-83</integer>
      <key>acircumflexgrave</key>
      <integer>-20</integer>
      <key>adieresis-cy</key>
      <integer>-83</integer>
      <key>cdotaccent</key>
      <integer>-20</integer>
      <key>e-cy</key>
      <integer>-83</integer>
      <key>ecircumflexgrave</key>
      <integer>-83</integer>
      <key>ef-cy</key>
      <integer>-83</integer>
      <key>es-cy</key>
      <integer>-83</integer>
      <key>esdescender-cy</key>
      <integer>-83</integer>
      <key>fita-cy</key>
      <integer>-83</integer>
      <key>ie-cy</key>
      <integer>-83</integer>
      <key>iebreve-cy</key>
      <integer>-20</integer>
      <key>iegrave-cy</key>
      <integer>-83</integer>
      <key>io-cy</key>
      <integer>-20</integer>
      <key>komide-cy</key>
      <integer>-83</integer>
      <key>ncommaaccent</key>
      <integer>-20</integer>
      <key>o-cy</key>
      <integer>-83</integer>
      <key>obarred-cy</key>
      <integer>-83</integer>
      <key>obarreddieresis-cy</key>
      <integer>-83</integer>
      <key>ocircumflexgrave</key>
      <integer>-83</integer>
      <key>odieresis-cy</key>
      <integer>-83</integer>
      <key>omegatonos</key>
      <integer>-64</integer>
      <key>omicron</key>
      <integer>-20</integer>
      <key>omicrontonos</key>
      <integer>-19</integer>
      <key>s</key>
      <integer>-80</integer>
      <key>sacute</key>
      <integer>-30</integer>
      <key>scedilla</key>
      <integer>-30</integer>
      <key>scommaaccent</key>
      <integer>-30</integer>
      <key>sigma</key>
      <integer>-19</integer>
    </dict>
    <key>Ydieresis</key>
    <dict>
      <key>A-cy</key>
      <integer>-83</integer>
      <key>AE</key>
      <integer>-127</integer>
      <key>Abreve-cy</key>
      <integer>-83</integer>
      <key>Adieresis-cy</key>
      <integer>-83</integer>
      <key>Aie-cy</key>
      <integer>-83</integer>
      <key>Alpha</key>
      <integer>-19</integer>
      <key>Aring</key>
      <integer>-64</integer>
      <key>Esdescender-cy</key>
      <integer>-14</integer>
      <key>Gdotaccent</key>
      <integer>-14</integer>
      <key>Lambda</key>
      <integer>-19</integer>
      <key>Omicron</key>
      <integer>-14</integer>
      <key>a-cy</key>
      <integer>-83</integer>
      <key>abreve-cy</key>
      <integer>-83</integer>
      <key>acircumflexgrave</key>
      <integer>-20</integer>
      <key>adieresis-cy</key>
      <integer>-83</integer>
      <key>cdotaccent</key>
      <integer>-20</integer>
      <key>dze-cy</key>
      <integer>-14</integer>
      <key>e-cy</key>
      <integer>-83</integer>
      <key>ecircumflexgrave</key>
      <integer>-83</integer>
      <key>ef-cy</key>
      <integer>-83</integer>
      <key>es-cy</key>
      <integer>-83</integer>
      <key>esdescender-cy</key>
      <integer>-83</integer>
      <key>fita-cy</key>
      <integer>-83</integer>
      <key>ie-cy</key>
      <integer>-83</integer>
      <key>iebreve-cy</key>
      <integer>-20</integer>
      <key>iegrave-cy</key>
      <integer>-83</integer>
      <key>io-cy</key>
      <integer>-20</integer>
      <key>komide-cy</key>
      <integer>-83</integer>
      <key>ncommaaccent</key>
      <integer>-20</integer>
      <key>o-cy</key>
      <integer>-83</integer>
      <key>obarred-cy</key>
      <integer>-83</integer>
      <key>obarreddieresis-cy</key>
      <integer>-83</integer>
      <key>ocircumflexgrave</key>
      <integer>-83</integer>
      <key>odieresis-cy</key>
      <integer>-83</integer>
      <key>omegatonos</key>
      <integer>-64</integer>
      <key>omicron</key>
      <integer>-20</integer>
      <key>omicrontonos</key>
      <integer>-19</integer>
      <key>scaron</key>
      <integer>-14</integer>
      <key>scircumflex</key>
      <integer>-14</integer>
      <key>sigma</key>
      <integer>-19</integer>
    </dict>
    <key>Ydotbelow</key>
    <dict>
      <key>Aring</key>
      <integer>-8</integer>
    </dict>
    <key>Ygrave</key>
    <dict>
      <key>A-cy</key>
      <integer>-64</integer>
      <key>AE</key>
      <integer>-127</integer>
      <key>Abreve-cy</key>
      <integer>-64</integer>
      <key>Adieresis-cy</key>
      <integer>-64</integer>
      <key>Aie-cy</key>
      <integer>-64</integer>
      <key>Aring</key>
      <integer>-64</integer>
      <key>a-cy</key>
      <integer>-64</integer>
      <key>abreve-cy</key>
      <integer>-64</integer>
      <key>adieresis-cy</key>
      <integer>-64</integer>
      <key>e-cy</key>
      <integer>-64</integer>
      <key>ecircumflexgrave</key>
      <integer>-64</integer>
      <key>ef-cy</key>
      <integer>-64</integer>
      <key>es-cy</key>
      <integer>-64</integer>
      <key>esdescender-cy</key>
      <integer>-64</integer>
      <key>fita-cy</key>
      <integer>-64</integer>
      <key>ie-cy</key>
      <integer>-64</integer>
      <key>iegrave-cy</key>
      <integer>-64</integer>
      <key>komide-cy</key>
      <integer>-64</integer>
      <key>o-cy</key>
      <integer>-64</integer>
      <key>obarred-cy</key>
      <integer>-64</integer>
      <key>obarreddieresis-cy</key>
      <integer>-64</integer>
      <key>ocircumflexgrave</key>
      <integer>-64</integer>
      <key>odieresis-cy</key>
      <integer>-64</integer>
      <key>omegatonos</key>
      <integer>-64</integer>
    </dict>
    <key>Yhookabove</key>
    <dict>
      <key>Aacute</key>
      <integer>-13</integer>
      <key>Abreve</key>
      <integer>-13</integer>
      <key>Acircumflex</key>
      <integer>-13</integer>
      <key>Acircumflexhookabove</key>
      <integer>-13</integer>
      <key>Adieresis</key>
      <integer>-13</integer>
      <key>Agrave</key>
      <integer>-13</integer>
      <key>Ahookabove</key>
      <integer>-13</integer>
      <key>Amacron</key>
      <integer>-13</integer>
      <key>Aogonek</key>
      <integer>-13</integer>
      <key>Aringacute</key>
      <integer>-13</integer>
      <key>Aringbelow</key>
      <integer>-13</integer>
      <key>Atilde</key>
      <integer>-13</integer>
    </dict>
    <key>Ytilde</key>
    <dict>
      <key>Aacute</key>
      <integer>-13</integer>
      <key>Abreve</key>
      <integer>-13</integer>
      <key>Acircumflex</key>
      <integer>-13</integer>
      <key>Acircumflexhookabove</key>
      <integer>-13</integer>
      <key>Adieresis</key>
      <integer>-13</integer>
      <key>Agrave</key>
      <integer>-13</integer>
      <key>Ahookabove</key>
      <integer>-13</integer>
      <key>Amacron</key>
      <integer>-13</integer>
      <key>Aogonek</key>
      <integer>-13</integer>
      <key>Aringacute</key>
      <integer>-13</integer>
      <key>Aringbelow</key>
      <integer>-13</integer>
      <key>Atilde</key>
      <integer>-13</integer>
    </dict>
    <key>five.numr</key>
    <dict>
      <key>fraction</key>
      <integer>70</integer>
    </dict>
    <key>fraction</key>
    <dict>
      <key>eight.dnom</key>
      <integer>40</integer>
      <key>four.dnom</key>
      <integer>-60</integer>
    </dict>
    <key>lcaron</key>
    <dict>
      <key>b</key>
      <integer>30</integer>
    </dict>
    <key>lje-cy</key>
    <dict>
      <key>ushort-cy</key>
      <integer>-14</integer>
    </dict>
    <key>one.numr</key>
    <dict>
      <key>fraction</key>
      <integer>60</integer>
    </dict>
    <key>three.numr</key>
    <dict>
      <key>fraction</key>
      <integer>110</integer>
    </dict>
  </dict>
</plist>
