<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>@MMK_L_eight.numr</key>
    <dict>
      <key>@MMK_R_fraction</key>
      <integer>30</integer>
    </dict>
    <key>@MMK_L_five.numr</key>
    <dict>
      <key>@MMK_R_five.numr</key>
      <integer>-10</integer>
      <key>@MMK_R_fraction</key>
      <integer>10</integer>
    </dict>
    <key>@MMK_L_four.numr</key>
    <dict>
      <key>@MMK_R_fraction</key>
      <integer>70</integer>
    </dict>
    <key>@MMK_L_fraction</key>
    <dict>
      <key>@MMK_R_seven.numr</key>
      <integer>50</integer>
      <key>@MMK_R_six.numr</key>
      <integer>-20</integer>
      <key>@MMK_R_three.numr</key>
      <integer>20</integer>
      <key>@MMK_R_two.numr</key>
      <integer>10</integer>
    </dict>
    <key>@MMK_L_six.numr</key>
    <dict>
      <key>@MMK_R_fraction</key>
      <integer>20</integer>
    </dict>
    <key>@MMK_L_two.numr</key>
    <dict>
      <key>@MMK_R_fraction</key>
      <integer>40</integer>
    </dict>
    <key>@MMK_L_zero.numr</key>
    <dict>
      <key>@MMK_R_five.numr</key>
      <integer>-10</integer>
      <key>@MMK_R_seven.numr</key>
      <integer>-10</integer>
    </dict>
    <key>Tau</key>
    <dict>
      <key>AE</key>
      <integer>-63</integer>
    </dict>
    <key>Tcaron</key>
    <dict>
      <key>AE</key>
      <integer>-63</integer>
    </dict>
    <key>Tcommaaccent</key>
    <dict>
      <key>AE</key>
      <integer>-63</integer>
    </dict>
    <key>U-cy</key>
    <dict>
      <key>e-cy</key>
      <integer>-6</integer>
      <key>ef-cy</key>
      <integer>-20</integer>
      <key>es-cy</key>
      <integer>-6</integer>
      <key>ie-cy</key>
      <integer>-6</integer>
      <key>lje-cy</key>
      <integer>-36</integer>
    </dict>
    <key>Udieresis-cy</key>
    <dict>
      <key>e-cy</key>
      <integer>-6</integer>
      <key>es-cy</key>
      <integer>-6</integer>
      <key>esdescender-cy</key>
      <integer>-28</integer>
      <key>fita-cy</key>
      <integer>-28</integer>
      <key>ie-cy</key>
      <integer>-6</integer>
      <key>iegrave-cy</key>
      <integer>-28</integer>
      <key>komide-cy</key>
      <integer>-28</integer>
      <key>lje-cy</key>
      <integer>-36</integer>
      <key>o-cy</key>
      <integer>-28</integer>
      <key>obarred-cy</key>
      <integer>-28</integer>
      <key>obarreddieresis-cy</key>
      <integer>-28</integer>
      <key>odieresis-cy</key>
      <integer>-28</integer>
    </dict>
    <key>Uhungarumlaut-cy</key>
    <dict>
      <key>e-cy</key>
      <integer>-6</integer>
      <key>ef-cy</key>
      <integer>-20</integer>
      <key>es-cy</key>
      <integer>-6</integer>
      <key>ie-cy</key>
      <integer>-6</integer>
    </dict>
    <key>Umacron-cy</key>
    <dict>
      <key>e-cy</key>
      <integer>-6</integer>
      <key>ef-cy</key>
      <integer>-20</integer>
      <key>es-cy</key>
      <integer>-6</integer>
      <key>ie-cy</key>
      <integer>-6</integer>
    </dict>
    <key>Upsilondieresis</key>
    <dict>
      <key>AE</key>
      <integer>-63</integer>
    </dict>
    <key>Ustrait-cy</key>
    <dict>
      <key>Aring</key>
      <integer>-52</integer>
    </dict>
    <key>Wcircumflex</key>
    <dict>
      <key>AE</key>
      <integer>-31</integer>
    </dict>
    <key>Wdieresis</key>
    <dict>
      <key>AE</key>
      <integer>-31</integer>
    </dict>
    <key>Wgrave</key>
    <dict>
      <key>AE</key>
      <integer>-31</integer>
    </dict>
    <key>Yacute</key>
    <dict>
      <key>AE</key>
      <integer>-63</integer>
    </dict>
    <key>Ycircumflex</key>
    <dict>
      <key>AE</key>
      <integer>-63</integer>
    </dict>
    <key>Ydieresis</key>
    <dict>
      <key>AE</key>
      <integer>-63</integer>
    </dict>
    <key>Ygrave</key>
    <dict>
      <key>AE</key>
      <integer>-63</integer>
    </dict>
    <key>fraction</key>
    <dict>
      <key>four.dnom</key>
      <integer>-130</integer>
    </dict>
    <key>one.numr</key>
    <dict>
      <key>fraction</key>
      <integer>10</integer>
    </dict>
    <key>seven.numr</key>
    <dict>
      <key>fraction</key>
      <integer>-120</integer>
    </dict>
    <key>three.numr</key>
    <dict>
      <key>fraction</key>
      <integer>30</integer>
    </dict>
  </dict>
</plist>
