<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>dollar.rvrn</key>
		<string>dollar.rvrn.glif</string>
		<key>shindagesh-hb.rvrn</key>
		<string>shindagesh-hb.rvrn.glif</string>
		<key>tavdagesh-hb.rvrn</key>
		<string>tavdagesh-hb.rvrn.glif</string>
		<key>uni047C.rvrn</key>
		<string>uni047C_.rvrn.glif</string>
	</dict>
</plist>
