<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0,0.75,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>E644AE98-578D-4662-9191-8C77E781ECD5</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.chedescenderabkhasian-cy</key>
      <integer>9</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.tetdagesh-hb</key>
      <integer>9</integer>
    </dict>
  </dict>
</plist>
