<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0.75,0,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>93A65197-3313-4CEC-ACA2-CB352C687B0C</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.cyrillicbighookLC</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.cyrillicbighookUC</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
