<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_eight.numr</key>
	<dict>
		<key>@MMK_R_fraction</key>
		<integer>70</integer>
	</dict>
	<key>@MMK_L_five.numr</key>
	<dict>
		<key>@MMK_R_fraction</key>
		<integer>30</integer>
	</dict>
	<key>@MMK_L_four.numr</key>
	<dict>
		<key>@MMK_R_four.numr</key>
		<integer>70</integer>
		<key>@MMK_R_fraction</key>
		<integer>160</integer>
	</dict>
	<key>@MMK_L_fraction</key>
	<dict>
		<key>@MMK_R_five.numr</key>
		<integer>20</integer>
		<key>@MMK_R_four.numr</key>
		<integer>-90</integer>
		<key>@MMK_R_one.numr</key>
		<integer>-20</integer>
		<key>@MMK_R_seven.numr</key>
		<integer>90</integer>
		<key>@MMK_R_two.numr</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_nine.numr</key>
	<dict>
		<key>@MMK_R_fraction</key>
		<integer>10</integer>
	</dict>
	<key>@MMK_L_one.numr</key>
	<dict>
		<key>@MMK_R_fraction</key>
		<integer>30</integer>
		<key>@MMK_R_one.numr</key>
		<integer>-80</integer>
		<key>@MMK_R_zero.numr</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_seven.numr</key>
	<dict>
		<key>@MMK_R_fraction</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_six.numr</key>
	<dict>
		<key>@MMK_R_fraction</key>
		<integer>50</integer>
	</dict>
	<key>@MMK_L_three.numr</key>
	<dict>
		<key>@MMK_R_fraction</key>
		<integer>40</integer>
	</dict>
	<key>@MMK_L_two.numr</key>
	<dict>
		<key>@MMK_R_fraction</key>
		<integer>110</integer>
	</dict>
	<key>@MMK_L_zero.numr</key>
	<dict>
		<key>@MMK_R_fraction</key>
		<integer>70</integer>
		<key>@MMK_R_zero.numr</key>
		<integer>10</integer>
	</dict>
	<key>Aacute</key>
	<dict>
		<key>Yacute</key>
		<integer>-114</integer>
		<key>Ycircumflex</key>
		<integer>-114</integer>
		<key>Ydieresis</key>
		<integer>-114</integer>
		<key>Ygrave</key>
		<integer>-114</integer>
	</dict>
	<key>Abreve</key>
	<dict>
		<key>Yacute</key>
		<integer>-114</integer>
		<key>Ycircumflex</key>
		<integer>-114</integer>
		<key>Ydieresis</key>
		<integer>-114</integer>
		<key>Ygrave</key>
		<integer>-114</integer>
	</dict>
	<key>Acircumflex</key>
	<dict>
		<key>Yacute</key>
		<integer>-114</integer>
		<key>Ycircumflex</key>
		<integer>-114</integer>
		<key>Ydieresis</key>
		<integer>-114</integer>
		<key>Ygrave</key>
		<integer>-114</integer>
	</dict>
	<key>Adieresis</key>
	<dict>
		<key>Yacute</key>
		<integer>-114</integer>
		<key>Ycircumflex</key>
		<integer>-114</integer>
		<key>Ydieresis</key>
		<integer>-114</integer>
		<key>Ygrave</key>
		<integer>-114</integer>
	</dict>
	<key>Agrave</key>
	<dict>
		<key>Yacute</key>
		<integer>-114</integer>
		<key>Ycircumflex</key>
		<integer>-114</integer>
		<key>Ydieresis</key>
		<integer>-114</integer>
		<key>Ygrave</key>
		<integer>-114</integer>
	</dict>
	<key>Amacron</key>
	<dict>
		<key>Yacute</key>
		<integer>-114</integer>
		<key>Ycircumflex</key>
		<integer>-114</integer>
		<key>Ydieresis</key>
		<integer>-114</integer>
		<key>Ygrave</key>
		<integer>-114</integer>
	</dict>
	<key>Aogonek</key>
	<dict>
		<key>Yacute</key>
		<integer>-114</integer>
		<key>Ycircumflex</key>
		<integer>-114</integer>
		<key>Ydieresis</key>
		<integer>-114</integer>
		<key>Ygrave</key>
		<integer>-114</integer>
	</dict>
	<key>Aring</key>
	<dict>
		<key>Yacute</key>
		<integer>-114</integer>
		<key>Ycircumflex</key>
		<integer>-114</integer>
		<key>Ydieresis</key>
		<integer>-114</integer>
		<key>Ygrave</key>
		<integer>-114</integer>
	</dict>
	<key>Aringacute</key>
	<dict>
		<key>Yacute</key>
		<integer>-114</integer>
		<key>Ycircumflex</key>
		<integer>-114</integer>
		<key>Ydieresis</key>
		<integer>-114</integer>
		<key>Ygrave</key>
		<integer>-114</integer>
	</dict>
	<key>Atilde</key>
	<dict>
		<key>Yacute</key>
		<integer>-114</integer>
		<key>Ycircumflex</key>
		<integer>-114</integer>
		<key>Ydieresis</key>
		<integer>-114</integer>
		<key>Ygrave</key>
		<integer>-114</integer>
	</dict>
	<key>Er-cy</key>
	<dict>
		<key>AE</key>
		<integer>0</integer>
		<key>Abreve</key>
		<integer>-84</integer>
		<key>Adieresis</key>
		<integer>-84</integer>
		<key>Amacron</key>
		<integer>-84</integer>
		<key>Aogonek</key>
		<integer>-84</integer>
		<key>Aring</key>
		<integer>-84</integer>
		<key>Aringacute</key>
		<integer>-84</integer>
	</dict>
	<key>Kcommaaccent</key>
	<dict>
		<key>Omicron</key>
		<integer>-26</integer>
	</dict>
	<key>Lambda</key>
	<dict>
		<key>Tau</key>
		<integer>0</integer>
		<key>Ycircumflex</key>
		<integer>-114</integer>
		<key>Ydieresis</key>
		<integer>-114</integer>
		<key>Ygrave</key>
		<integer>-114</integer>
	</dict>
	<key>Rho</key>
	<dict>
		<key>Abreve</key>
		<integer>-84</integer>
		<key>Adieresis</key>
		<integer>-84</integer>
		<key>Amacron</key>
		<integer>-84</integer>
		<key>Aogonek</key>
		<integer>-84</integer>
		<key>Aring</key>
		<integer>-84</integer>
		<key>Aringacute</key>
		<integer>-84</integer>
	</dict>
	<key>Schwadieresis-cy</key>
	<dict>
		<key>Tcaron</key>
		<integer>-59</integer>
	</dict>
	<key>Tau</key>
	<dict>
		<key>AE</key>
		<integer>0</integer>
		<key>ncaron</key>
		<integer>-84</integer>
		<key>ncommaaccent</key>
		<integer>-84</integer>
		<key>ntilde</key>
		<integer>-84</integer>
	</dict>
	<key>Tcaron</key>
	<dict>
		<key>AE</key>
		<integer>-173</integer>
		<key>Alpha</key>
		<integer>0</integer>
		<key>Lambda</key>
		<integer>0</integer>
		<key>Omicron</key>
		<integer>-55</integer>
		<key>Theta</key>
		<integer>0</integer>
		<key>acircumflexgrave</key>
		<integer>0</integer>
		<key>agrave</key>
		<integer>0</integer>
		<key>nacute</key>
		<integer>0</integer>
		<key>ncaron</key>
		<integer>-84</integer>
		<key>ncommaaccent</key>
		<integer>-84</integer>
		<key>ntilde</key>
		<integer>-84</integer>
		<key>omicron</key>
		<integer>0</integer>
		<key>omicrontonos</key>
		<integer>0</integer>
		<key>sigma</key>
		<integer>0</integer>
		<key>udotbelow</key>
		<integer>-84</integer>
		<key>uhookabove</key>
		<integer>-84</integer>
		<key>uhornacute</key>
		<integer>-84</integer>
		<key>uhorndotbelow</key>
		<integer>-84</integer>
		<key>uhorngrave</key>
		<integer>-84</integer>
		<key>uhornhookabove</key>
		<integer>-84</integer>
		<key>uhorntilde</key>
		<integer>-84</integer>
	</dict>
	<key>Tcommaaccent</key>
	<dict>
		<key>AE</key>
		<integer>-173</integer>
		<key>Omicron</key>
		<integer>-55</integer>
		<key>ncaron</key>
		<integer>-84</integer>
		<key>ncommaaccent</key>
		<integer>-84</integer>
		<key>ntilde</key>
		<integer>-84</integer>
		<key>udotbelow</key>
		<integer>-84</integer>
		<key>uhookabove</key>
		<integer>-84</integer>
		<key>uhornacute</key>
		<integer>-84</integer>
		<key>uhorndotbelow</key>
		<integer>-84</integer>
		<key>uhorngrave</key>
		<integer>-84</integer>
		<key>uhornhookabove</key>
		<integer>-84</integer>
		<key>uhorntilde</key>
		<integer>-84</integer>
	</dict>
	<key>Te-cy</key>
	<dict>
		<key>AE</key>
		<integer>0</integer>
		<key>Esdescender-cy</key>
		<integer>-59</integer>
		<key>ncaron</key>
		<integer>-84</integer>
		<key>ncommaaccent</key>
		<integer>-84</integer>
		<key>ntilde</key>
		<integer>-84</integer>
	</dict>
	<key>Upsilondieresis</key>
	<dict>
		<key>AE</key>
		<integer>0</integer>
		<key>Aring</key>
		<integer>-114</integer>
		<key>omegatonos</key>
		<integer>-114</integer>
	</dict>
	<key>Upsilontonos</key>
	<dict>
		<key>upsilondieresistonos</key>
		<integer>-59</integer>
	</dict>
	<key>Ushort-cy</key>
	<dict>
		<key>A-cy</key>
		<integer>0</integer>
		<key>chedieresis-cy</key>
		<integer>-26</integer>
		<key>dzhe-cy</key>
		<integer>-26</integer>
		<key>ef-cy</key>
		<integer>-88</integer>
		<key>endescender-cy</key>
		<integer>-59</integer>
		<key>gheupturn-cy</key>
		<integer>-26</integer>
		<key>gje-cy</key>
		<integer>-26</integer>
		<key>idieresis-cy</key>
		<integer>-26</integer>
		<key>iebreve-cy</key>
		<integer>-88</integer>
		<key>iigrave-cy</key>
		<integer>-26</integer>
		<key>imacron-cy</key>
		<integer>-26</integer>
		<key>lje-cy</key>
		<integer>-173</integer>
		<key>pe-cy</key>
		<integer>-26</integer>
		<key>shcha-cy</key>
		<integer>-26</integer>
		<key>tse-cy</key>
		<integer>-26</integer>
		<key>ve-cy</key>
		<integer>-26</integer>
	</dict>
	<key>Ustrait-cy</key>
	<dict>
		<key>AE</key>
		<integer>0</integer>
		<key>Aacute</key>
		<integer>-145</integer>
		<key>Abreve</key>
		<integer>-145</integer>
		<key>Acircumflex</key>
		<integer>-145</integer>
		<key>Adieresis</key>
		<integer>-143</integer>
		<key>Agrave</key>
		<integer>-145</integer>
		<key>Amacron</key>
		<integer>-143</integer>
		<key>Aogonek</key>
		<integer>-143</integer>
		<key>Aring</key>
		<integer>-143</integer>
		<key>Aringacute</key>
		<integer>-143</integer>
		<key>Atilde</key>
		<integer>-145</integer>
		<key>Oacute</key>
		<integer>-59</integer>
		<key>Ohungarumlaut</key>
		<integer>-59</integer>
		<key>Omacron</key>
		<integer>-59</integer>
		<key>ncaron</key>
		<integer>-84</integer>
		<key>ncommaaccent</key>
		<integer>-84</integer>
		<key>ntilde</key>
		<integer>-84</integer>
	</dict>
	<key>Wacute</key>
	<dict>
		<key>AE</key>
		<integer>-84</integer>
	</dict>
	<key>Wcircumflex</key>
	<dict>
		<key>AE</key>
		<integer>-84</integer>
	</dict>
	<key>Wdieresis</key>
	<dict>
		<key>AE</key>
		<integer>-84</integer>
	</dict>
	<key>Wgrave</key>
	<dict>
		<key>AE</key>
		<integer>-84</integer>
	</dict>
	<key>Yacute</key>
	<dict>
		<key>A-cy</key>
		<integer>-114</integer>
		<key>AE</key>
		<integer>-173</integer>
		<key>Abreve-cy</key>
		<integer>-114</integer>
		<key>Adieresis-cy</key>
		<integer>-114</integer>
		<key>Aie-cy</key>
		<integer>-114</integer>
		<key>Alpha</key>
		<integer>0</integer>
		<key>Aring</key>
		<integer>-114</integer>
		<key>Es-cy</key>
		<integer>-26</integer>
		<key>Esdescender-cy</key>
		<integer>-26</integer>
		<key>Lambda</key>
		<integer>0</integer>
		<key>O-cy</key>
		<integer>-26</integer>
		<key>Odieresis-cy</key>
		<integer>-26</integer>
		<key>Omicron</key>
		<integer>-26</integer>
		<key>a-cy</key>
		<integer>-114</integer>
		<key>abreve-cy</key>
		<integer>-114</integer>
		<key>adieresis-cy</key>
		<integer>-114</integer>
		<key>cdotaccent</key>
		<integer>0</integer>
		<key>dze-cy</key>
		<integer>0</integer>
		<key>e-cy</key>
		<integer>-114</integer>
		<key>ef-cy</key>
		<integer>-114</integer>
		<key>es-cy</key>
		<integer>-114</integer>
		<key>esdescender-cy</key>
		<integer>-114</integer>
		<key>eta</key>
		<integer>0</integer>
		<key>etatonos</key>
		<integer>0</integer>
		<key>fita-cy</key>
		<integer>-114</integer>
		<key>ie-cy</key>
		<integer>-114</integer>
		<key>iebreve-cy</key>
		<integer>0</integer>
		<key>iegrave-cy</key>
		<integer>-114</integer>
		<key>io-cy</key>
		<integer>0</integer>
		<key>komide-cy</key>
		<integer>-114</integer>
		<key>ncaron</key>
		<integer>0</integer>
		<key>ntilde</key>
		<integer>0</integer>
		<key>o-cy</key>
		<integer>-114</integer>
		<key>obarred-cy</key>
		<integer>-114</integer>
		<key>obarreddieresis-cy</key>
		<integer>-114</integer>
		<key>odieresis-cy</key>
		<integer>-114</integer>
		<key>omegatonos</key>
		<integer>-114</integer>
		<key>omicron</key>
		<integer>0</integer>
		<key>omicrontonos</key>
		<integer>0</integer>
		<key>scaron</key>
		<integer>0</integer>
		<key>scircumflex</key>
		<integer>0</integer>
		<key>sigma</key>
		<integer>0</integer>
	</dict>
	<key>Ycircumflex</key>
	<dict>
		<key>A-cy</key>
		<integer>-114</integer>
		<key>AE</key>
		<integer>-173</integer>
		<key>Abreve-cy</key>
		<integer>-114</integer>
		<key>Adieresis-cy</key>
		<integer>-114</integer>
		<key>Aie-cy</key>
		<integer>-114</integer>
		<key>Alpha</key>
		<integer>0</integer>
		<key>Aring</key>
		<integer>-114</integer>
		<key>Es-cy</key>
		<integer>-26</integer>
		<key>Esdescender-cy</key>
		<integer>-26</integer>
		<key>Lambda</key>
		<integer>0</integer>
		<key>O-cy</key>
		<integer>-26</integer>
		<key>Odieresis-cy</key>
		<integer>-26</integer>
		<key>Omicron</key>
		<integer>-26</integer>
		<key>a-cy</key>
		<integer>-114</integer>
		<key>abreve-cy</key>
		<integer>-114</integer>
		<key>adieresis-cy</key>
		<integer>-114</integer>
		<key>cdotaccent</key>
		<integer>0</integer>
		<key>e-cy</key>
		<integer>-114</integer>
		<key>ef-cy</key>
		<integer>-114</integer>
		<key>es-cy</key>
		<integer>-114</integer>
		<key>esdescender-cy</key>
		<integer>-114</integer>
		<key>fita-cy</key>
		<integer>-114</integer>
		<key>ie-cy</key>
		<integer>-114</integer>
		<key>iebreve-cy</key>
		<integer>0</integer>
		<key>iegrave-cy</key>
		<integer>-114</integer>
		<key>io-cy</key>
		<integer>0</integer>
		<key>komide-cy</key>
		<integer>-114</integer>
		<key>ncommaaccent</key>
		<integer>0</integer>
		<key>o-cy</key>
		<integer>-114</integer>
		<key>obarred-cy</key>
		<integer>-114</integer>
		<key>obarreddieresis-cy</key>
		<integer>-114</integer>
		<key>odieresis-cy</key>
		<integer>-114</integer>
		<key>omegatonos</key>
		<integer>-114</integer>
		<key>omicron</key>
		<integer>0</integer>
		<key>omicrontonos</key>
		<integer>0</integer>
		<key>sacute</key>
		<integer>0</integer>
		<key>scedilla</key>
		<integer>0</integer>
		<key>scommaaccent</key>
		<integer>0</integer>
		<key>sigma</key>
		<integer>0</integer>
	</dict>
	<key>Ydieresis</key>
	<dict>
		<key>A-cy</key>
		<integer>-114</integer>
		<key>AE</key>
		<integer>-173</integer>
		<key>Abreve-cy</key>
		<integer>-114</integer>
		<key>Adieresis-cy</key>
		<integer>-114</integer>
		<key>Aie-cy</key>
		<integer>-114</integer>
		<key>Alpha</key>
		<integer>0</integer>
		<key>Aring</key>
		<integer>-114</integer>
		<key>Es-cy</key>
		<integer>-26</integer>
		<key>Esdescender-cy</key>
		<integer>-26</integer>
		<key>Lambda</key>
		<integer>0</integer>
		<key>O-cy</key>
		<integer>-26</integer>
		<key>Odieresis-cy</key>
		<integer>-26</integer>
		<key>Omicron</key>
		<integer>-26</integer>
		<key>a-cy</key>
		<integer>-114</integer>
		<key>abreve-cy</key>
		<integer>-114</integer>
		<key>adieresis-cy</key>
		<integer>-114</integer>
		<key>cdotaccent</key>
		<integer>0</integer>
		<key>dze-cy</key>
		<integer>0</integer>
		<key>e-cy</key>
		<integer>-114</integer>
		<key>ef-cy</key>
		<integer>-114</integer>
		<key>es-cy</key>
		<integer>-114</integer>
		<key>esdescender-cy</key>
		<integer>-114</integer>
		<key>fita-cy</key>
		<integer>-114</integer>
		<key>ie-cy</key>
		<integer>-114</integer>
		<key>iebreve-cy</key>
		<integer>0</integer>
		<key>iegrave-cy</key>
		<integer>-114</integer>
		<key>io-cy</key>
		<integer>0</integer>
		<key>komide-cy</key>
		<integer>-114</integer>
		<key>ncommaaccent</key>
		<integer>0</integer>
		<key>o-cy</key>
		<integer>-114</integer>
		<key>obarred-cy</key>
		<integer>-114</integer>
		<key>obarreddieresis-cy</key>
		<integer>-114</integer>
		<key>odieresis-cy</key>
		<integer>-114</integer>
		<key>omegatonos</key>
		<integer>-114</integer>
		<key>omicron</key>
		<integer>0</integer>
		<key>omicrontonos</key>
		<integer>0</integer>
		<key>scaron</key>
		<integer>0</integer>
		<key>scircumflex</key>
		<integer>0</integer>
		<key>sigma</key>
		<integer>0</integer>
	</dict>
	<key>Ygrave</key>
	<dict>
		<key>A-cy</key>
		<integer>-114</integer>
		<key>AE</key>
		<integer>-173</integer>
		<key>Abreve-cy</key>
		<integer>-114</integer>
		<key>Adieresis-cy</key>
		<integer>-114</integer>
		<key>Aie-cy</key>
		<integer>-114</integer>
		<key>Aring</key>
		<integer>-114</integer>
		<key>Es-cy</key>
		<integer>-26</integer>
		<key>Esdescender-cy</key>
		<integer>-26</integer>
		<key>O-cy</key>
		<integer>-26</integer>
		<key>Odieresis-cy</key>
		<integer>-26</integer>
		<key>Omicron</key>
		<integer>-26</integer>
		<key>a-cy</key>
		<integer>-114</integer>
		<key>abreve-cy</key>
		<integer>-114</integer>
		<key>adieresis-cy</key>
		<integer>-114</integer>
		<key>e-cy</key>
		<integer>-114</integer>
		<key>ef-cy</key>
		<integer>-114</integer>
		<key>es-cy</key>
		<integer>-114</integer>
		<key>esdescender-cy</key>
		<integer>-114</integer>
		<key>fita-cy</key>
		<integer>-114</integer>
		<key>ie-cy</key>
		<integer>-114</integer>
		<key>iegrave-cy</key>
		<integer>-114</integer>
		<key>komide-cy</key>
		<integer>-114</integer>
		<key>o-cy</key>
		<integer>-114</integer>
		<key>obarred-cy</key>
		<integer>-114</integer>
		<key>obarreddieresis-cy</key>
		<integer>-114</integer>
		<key>odieresis-cy</key>
		<integer>-114</integer>
		<key>omegatonos</key>
		<integer>-114</integer>
	</dict>
	<key>lje-cy</key>
	<dict>
		<key>udieresis-cy</key>
		<integer>-55</integer>
		<key>uhungarumlaut-cy</key>
		<integer>-55</integer>
		<key>umacron-cy</key>
		<integer>-55</integer>
		<key>ushort-cy</key>
		<integer>-26</integer>
	</dict>
	<key>nje-cy</key>
	<dict>
		<key>udieresis-cy</key>
		<integer>-55</integer>
		<key>uhungarumlaut-cy</key>
		<integer>-55</integer>
		<key>umacron-cy</key>
		<integer>-55</integer>
	</dict>
</dict>
</plist>
