<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>public.kern1.eight.numr</key>
		<array>
			<string>eight.dnom</string>
			<string>eight.numr</string>
		</array>
		<key>public.kern1.eightsuperior</key>
		<array>
			<string>eightsuperior</string>
		</array>
		<key>public.kern1.five.numr</key>
		<array>
			<string>five.dnom</string>
			<string>five.numr</string>
		</array>
		<key>public.kern1.fivesuperior</key>
		<array>
			<string>fivesuperior</string>
		</array>
		<key>public.kern1.four.numr</key>
		<array>
			<string>four.dnom</string>
			<string>four.numr</string>
		</array>
		<key>public.kern1.foursuperior</key>
		<array>
			<string>foursuperior</string>
		</array>
		<key>public.kern1.fraction</key>
		<array>
			<string>fraction</string>
		</array>
		<key>public.kern1.nine.numr</key>
		<array>
			<string>nine.dnom</string>
			<string>nine.numr</string>
		</array>
		<key>public.kern1.ninesuperior</key>
		<array>
			<string>ninesuperior</string>
		</array>
		<key>public.kern1.one.numr</key>
		<array>
			<string>one.dnom</string>
			<string>one.numr</string>
		</array>
		<key>public.kern1.onesuperior</key>
		<array>
			<string>onesuperior</string>
		</array>
		<key>public.kern1.paren.left</key>
		<array>
			<string>braceleft.full</string>
		</array>
		<key>public.kern1.seven.numr</key>
		<array>
			<string>seven.dnom</string>
			<string>seven.numr</string>
		</array>
		<key>public.kern1.sevensuperior</key>
		<array>
			<string>sevensuperior</string>
		</array>
		<key>public.kern1.six.numr</key>
		<array>
			<string>six.dnom</string>
			<string>six.numr</string>
		</array>
		<key>public.kern1.sixsuperior</key>
		<array>
			<string>sixsuperior</string>
		</array>
		<key>public.kern1.three.numr</key>
		<array>
			<string>three.dnom</string>
			<string>three.numr</string>
		</array>
		<key>public.kern1.threesuperior</key>
		<array>
			<string>threesuperior</string>
		</array>
		<key>public.kern1.two.numr</key>
		<array>
			<string>two.dnom</string>
			<string>two.numr</string>
		</array>
		<key>public.kern1.twosuperior</key>
		<array>
			<string>twosuperior</string>
		</array>
		<key>public.kern1.zero.numr</key>
		<array>
			<string>zero.dnom</string>
			<string>zero.numr</string>
		</array>
		<key>public.kern1.zerosuperior</key>
		<array>
			<string>zerosuperior</string>
		</array>
		<key>public.kern2.Paren.right</key>
		<array>
			<string>braceright.full</string>
		</array>
		<key>public.kern2.eight.numr</key>
		<array>
			<string>eight.dnom</string>
			<string>eight.numr</string>
		</array>
		<key>public.kern2.eightsuperior</key>
		<array>
			<string>eightsuperior</string>
		</array>
		<key>public.kern2.five.numr</key>
		<array>
			<string>five.dnom</string>
			<string>five.numr</string>
		</array>
		<key>public.kern2.fivesuperior</key>
		<array>
			<string>fivesuperior</string>
		</array>
		<key>public.kern2.four.numr</key>
		<array>
			<string>four.dnom</string>
			<string>four.numr</string>
		</array>
		<key>public.kern2.foursuperior</key>
		<array>
			<string>foursuperior</string>
		</array>
		<key>public.kern2.fraction</key>
		<array>
			<string>fraction</string>
		</array>
		<key>public.kern2.nine.numr</key>
		<array>
			<string>nine.dnom</string>
			<string>nine.numr</string>
		</array>
		<key>public.kern2.ninesuperior</key>
		<array>
			<string>ninesuperior</string>
		</array>
		<key>public.kern2.one.numr</key>
		<array>
			<string>one.dnom</string>
			<string>one.numr</string>
		</array>
		<key>public.kern2.onesuperior</key>
		<array>
			<string>onesuperior</string>
		</array>
		<key>public.kern2.seven.numr</key>
		<array>
			<string>seven.dnom</string>
			<string>seven.numr</string>
		</array>
		<key>public.kern2.sevensuperior</key>
		<array>
			<string>sevensuperior</string>
		</array>
		<key>public.kern2.six.numr</key>
		<array>
			<string>six.dnom</string>
			<string>six.numr</string>
		</array>
		<key>public.kern2.sixsuperior</key>
		<array>
			<string>sixsuperior</string>
		</array>
		<key>public.kern2.three.numr</key>
		<array>
			<string>three.dnom</string>
			<string>three.numr</string>
		</array>
		<key>public.kern2.threesuperior</key>
		<array>
			<string>threesuperior</string>
		</array>
		<key>public.kern2.two.numr</key>
		<array>
			<string>two.dnom</string>
			<string>two.numr</string>
		</array>
		<key>public.kern2.twosuperior</key>
		<array>
			<string>twosuperior</string>
		</array>
		<key>public.kern2.zero.numr</key>
		<array>
			<string>zero.dnom</string>
			<string>zero.numr</string>
		</array>
		<key>public.kern2.zerosuperior</key>
		<array>
			<string>zerosuperior</string>
		</array>
	</dict>
</plist>
