<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Apr 19 19, 15:29</string>
      <string>glyphs.A_pr 19 19, 15_29</string>
    </array>
    <array>
      <string>Apr 19 19, 15:29.background</string>
      <string>glyphs.A_pr 19 19, 15_29.background</string>
    </array>
    <array>
      <string>Apr 19 19, 15:31</string>
      <string>glyphs.A_pr 19 19, 15_31</string>
    </array>
    <array>
      <string>Apr 19 19, 15:31.background</string>
      <string>glyphs.A_pr 19 19, 15_31.background</string>
    </array>
    <array>
      <string>Apr 19 19, 15:30</string>
      <string>glyphs.A_pr 19 19, 15_30</string>
    </array>
    <array>
      <string>Apr 19 19, 15:30.background</string>
      <string>glyphs.A_pr 19 19, 15_30.background</string>
    </array>
    <array>
      <string>Dec 4 18, 22:39</string>
      <string>glyphs.D_ec 4 18, 22_39</string>
    </array>
  </array>
</plist>
