<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>ascender</key>
		<integer>1567</integer>
		<key>capHeight</key>
		<integer>1462</integer>
		<key>copyright</key>
		<string>Digitized data copyright (C) 2010-2018, Google Corporation.</string>
		<key>descender</key>
		<integer>-492</integer>
		<key>familyName</key>
		<string>Open Sans</string>
		<key>guidelines</key>
		<array>
		</array>
		<key>italicAngle</key>
		<integer>0</integer>
		<key>openTypeHeadCreated</key>
		<string>2019/04/09 13:40:40</string>
		<key>openTypeHheaAscender</key>
		<integer>1556</integer>
		<key>openTypeHheaDescender</key>
		<integer>-492</integer>
		<key>openTypeNameDesignerURL</key>
		<string>http://www.ascendercorp.com/typedesigners.html</string>
		<key>openTypeNameLicense</key>
		<string>Licensed under the Apache License, Version 2.0</string>
		<key>openTypeNameLicenseURL</key>
		<string>http://www.apache.org/licenses/LICENSE-2.0</string>
		<key>openTypeNameManufacturer</key>
		<string>Ascender Corporation</string>
		<key>openTypeNameManufacturerURL</key>
		<string>http://www.ascendercorp.com/</string>
		<key>openTypeOS2Type</key>
		<array>
		</array>
		<key>openTypeOS2TypoAscender</key>
		<integer>1556</integer>
		<key>openTypeOS2TypoDescender</key>
		<integer>-492</integer>
		<key>openTypeOS2TypoLineGap</key>
		<integer>512</integer>
		<key>openTypeOS2VendorID</key>
		<string>1ASC</string>
		<key>openTypeOS2WinAscent</key>
		<integer>2133</integer>
		<key>openTypeOS2WinDescent</key>
		<integer>601</integer>
		<key>postscriptBlueValues</key>
		<array>
			<integer>-21</integer>
			<integer>0</integer>
			<integer>1087</integer>
			<integer>1109</integer>
			<integer>1462</integer>
			<integer>1486</integer>
			<integer>1567</integer>
			<integer>1583</integer>
		</array>
		<key>postscriptFamilyBlues</key>
		<array>
		</array>
		<key>postscriptFamilyOtherBlues</key>
		<array>
		</array>
		<key>postscriptOtherBlues</key>
		<array>
			<integer>-523</integer>
			<integer>-492</integer>
		</array>
		<key>postscriptStemSnapH</key>
		<array>
			<integer>99</integer>
			<integer>94</integer>
			<integer>90</integer>
			<integer>86</integer>
		</array>
		<key>postscriptStemSnapV</key>
		<array>
			<integer>111</integer>
			<integer>103</integer>
			<integer>99</integer>
		</array>
		<key>postscriptUnderlinePosition</key>
		<integer>-205</integer>
		<key>postscriptUnderlineThickness</key>
		<integer>102</integer>
		<key>styleMapFamilyName</key>
		<string>Open Sans Light</string>
		<key>styleMapStyleName</key>
		<string>regular</string>
		<key>styleName</key>
		<string>Light</string>
		<key>unitsPerEm</key>
		<integer>2048</integer>
		<key>versionMajor</key>
		<integer>1</integer>
		<key>versionMinor</key>
		<integer>0</integer>
		<key>xHeight</key>
		<integer>1087</integer>
	</dict>
</plist>
