<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>uni1D24</key>
    <string>uni1D_24.glif</string>
    <key>uniA7AE</key>
    <string>uniA_7A_E_.glif</string>
  </dict>
</plist>
