<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>color</key>
    <string>1,0,0.75,0.7</string>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>A953975B-2E5A-40CA-98E5-C81903F84145</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.alefdagesh-hb.rvrn</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.finalpedagesh-hb.rvrn</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hedagesh-hb.rvrn</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.pedagesh-hb.rvrn</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.qofdagesh-hb.rvrn</key>
      <integer>4</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.shindageshshindot-hb.rvrn</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
