<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>F46C4D09-C995-4083-8547-EA97A1D06692</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.alefdagesh-hb.rvrn</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.finalpedagesh-hb.rvrn</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.hedagesh-hb.rvrn</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.pedagesh-hb.rvrn</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.qofdagesh-hb.rvrn</key>
      <integer>6</integer>
      <key>com.schriftgestaltung.layerOrderInGlyph.shindageshshindot-hb.rvrn</key>
      <integer>6</integer>
    </dict>
  </dict>
</plist>
